#header{
	min-height:100px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background: #FFFFFF;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	font-size: 50px;
	letter-spacing: 6px;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #ffffff;
	font-weight:bold;
	text-align:center;
	height:200px; 
	text-shadow: 8px 7px 3px rgba(43,60,44,0.71);
	position:relative;
	border-radius: 15px 0px 15px 0px;
	box-shadow: 8px -3px 29px 0px #000000;
}




*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}



.header_link{
	color: white;
}





#headtext{ 
font-size: 15px;
text-shadow: 5px 4px 3px rgba(0,0,0,0.26);
margin-top: 75px;
}

.dots{
	font-size: 30px;	
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}













/*-------------------RIGHT-SIDEBAR CSS-------------------*/
.sidebar{
	z-index: 1; 
	position: fixed;
	top: 3px;
	right: -250px;
	width: 250px;
	height: 100%;
	background: #ffffff;
	max-height: 150px;
	min-height: 150px;
	transition: all .4s ease;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align:center; 
	border-radius: 22px 0px 0px 22px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.26);
	box-shadow: 4px 5px 8px 5px rgba(0,0,0,0.12);

}


.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 22px;
	color: #79ff4d;
	padding-left: 5px;
	box-sizing: border-box;
	transition: .3s;

}

.sidebar ul li:hover a{
	padding-right: 30px;
}

.sidebar i{
	margin-right: 5px;
	text-shadow: none;
	color: black;
}

#check{
	display: none;
}

label #btn, label #cancel{
	cursor: pointer;
	background: transparent;
}

label #btn{
	position: fixed;
	z-index: 2;
	right: -5px;
	top: -15px;
	font-size: 40px;
	color: #ffffff;
	border-radius: 50%;
	padding:6px 12px;
	transition: all .5s;
	font-style: normal;
	background: #79ff4d;

}

label #cancel{
	position: fixed;
	z-index: 3;
	right: -180px;
	top: 1px;
	font-size: 25px;
	color: #79ff4d;
	padding: 4px 9px;
	transition: all .5s ease;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.26);
}





#check:checked ~ .sidebar{
	right: 0;
}


#check:checked ~ label #btn{
	right: -250px;
	opacity: 0;
	pointer-events: none;

}

#check:checked ~ label #cancel{
	right: 5px;
}

/*-------------------END OF RIGHT-SIDEBAR -------------------*/




















/*back button*/
#check{
	display: none;
}



label #back{
	position: absolute;
	left:10px;
	top: 5px;
	font-size: 40px;
	color: #ffffff;
	background: none;
	border: none;
	outline: none;
	padding:6px 12px;
	text-shadow: 7px 8.5px 3px rgba(43,60,44,0.71);



	
}
/*end of back button*/











.span{
font-size: 30px;
color:#000000;
font-family: Impact, Charcoal, sans-serif;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: 500;
font-style: normal;
font-variant: normal;
}



#advertisement{
	position: relative;
	border-radius: 15px;
	text-align:center;
	background-color: #79ff4d;
	height:200px;
	margin-bottom: 70px;
	margin-top: 20px;
	box-shadow: 5px 4px 17px 3px #848484;

}




.reduce{
	-moz-transform: scale(0.9);
-webkit-transform: scale(0.9);
-o-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
}





.tryme{
	margin-top: 100px;
	position: relative;
	min-width: 250px;
	max-width: 500px;
	padding: 0;
	transition: .5s;

}

.tryme span
{
	position: absolute;
	transition: transform .5s;

}


.tryme span:nth-child(1),
.tryme span:nth-child(3)
{
	width: 100%;
	height: 3px;
	background: #79ff4d; 
}

.tryme span:nth-child(1){
	top:0;
	left: 0;
	transform-origin: right; 
}

.tryme:hover span:nth-child(1){ 
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .5s;
	background: #000000;  
}


.tryme span:nth-child(3){
	bottom:0;
	left: 0;
	transform-origin: left; 
}

.tryme:hover span:nth-child(3){ 
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s;
	background: #000000;  
}










.tryme span:nth-child(2),
.tryme span:nth-child(4)
{
	width: 3px;
	height: 100%;
	background: #79ff4d; 
}

.tryme span:nth-child(2){
	top:0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom; 
}

.tryme:hover span:nth-child(2){ 
	transform: scaleY(1);
	transform-origin: top;
	transition: transform .5s;
	background: #000000;  
}


.tryme span:nth-child(4){
	top:0;
	right: 0;
	transform: scaleY(0);
	transform-origin: top; 
}

.tryme:hover span:nth-child(4){ 
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform .5s; 
	background: #000000; 
}









#buttonscontainer{
	margin: 0 auto;
	margin-top: 20px;
}


.loginbutton{
	outline: none;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	color: #79ff4d;
	font-size: 17px; 
	line-height: 17px; 
	padding: 15px;
	border-radius: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bolder;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal; font-variant: normal;
	text-transform: none;
	box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
	border: 3px solid #79ff4d;
	display: inline-block;
	background: #FFFFFF;
	background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF 100%);
}

.loginbutton:hover {
background: #4D6F5A; 
}

.loginbutton:active {
background: #4D6F5A;
}








.vipbutton{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	color: black;
	font-size: 17px; 
	line-height: 17px; 
	padding: 15px;
	border-radius: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bolder;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal; font-variant: normal;
	text-transform: none;
	box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
	border: 3px solid #79ff4d;
	display: inline-block;
	background: #FFFFFF;
	background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF 100%);
	margin-top: 200px;
}

.vipbutton:hover {
background: gold;
color: black; 
box-shadow: 5px 5px 14px 0px rgba(255, 215, 0,0.51);
}

.vipbutton:active {
background: gold;
color: black;
box-shadow: 5px 5px 14px 0px rgba(255, 215, 0,0.51);
}










.login{
margin-bottom: 40px;
max-width: 200px;
}



.text{
	margin-top: 30px;
	margin-bottom: 50px;
	color: #494949;
	padding-left: 3%;
	padding-right: 3%;
}





.label1{
	padding-top: 30px;
	max-width: 250px;
	position: relative;	
	min-height: 250px;
	min-width:  250px;
	margin: 0 auto;
}



.light{
	background: url('happy_stick_figure.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	
}


.light2{
	background: url('user_feedback.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;

}





.headr{ 
font-size: 25px;
text-shadow: 5px 4px 3px rgba(0,0,0,0.26);
margin-top: 20px;
font-weight: bolder;
font-family: Verdana, Geneva, sans-serif;
}


#textarea{
	font-size: 18px;
	text-align: center;
	padding-bottom: 30px;
}












/*----------------------------------------------beginning of modal----------------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



.phonemodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.fashionmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content */
.modal-content {
    border:1px solid #79ff4d;
    -webkit-border-radius: 50px 0px 50px 0px;
    border-radius: 50px 0px 50px 0px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #79ff4d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    padding: 2px 16px; 
    color: #79ff4d;
    text-shadow: 4px 4px 3px rgba(43,60,44,0.71);
}

.modal-body {
    padding: 2px 16px;
    min-height: 250px;
}

.modal-footer {
    padding: 2px 16px;
    
}

.linke{
color: #79ff4d;
font-weight: bold;
font-size: 16px;
padding-left: 3%;
padding-right: 3%;
font-weight: bolder;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.linke i{
	visibility: hidden;
	margin-right: 10px;
}

.linke:hover {
color: black;
font-size: 20px;
margin-left: 5px;

}

.linke:hover i{
visibility: visible;
}




.texte{
	margin-top: 20px;
	margin-bottom: 30px;
    font-size: 16px;
    color: #494949;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bold;
}



.button{
    float: left;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    color: #494949;
    font-size: 13px;  
    padding: 3px 10px 3px 10px;
    border-radius: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
    border: 3px solid #79ff4d;
    background: #FFFFFF;
    outline: none;
  
}

form{
	margin-left: 15px;
}



.button1{
    float: right;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    color: #494949;
    font-size: 13px;  
    padding: 3px;
    border-radius: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
    border: 3px solid #79ff4d;
    background: #FFFFFF;
    margin-left: 15px;
    outline: none;
}


.button:hover {
background: #4D6F5A; 
}

.button1:hover {
background: #4D6F5A; 
}

.btnwrap{
display: flex;
margin-bottom: 40px;
max-width: 150px;
}

/*------------------------------------------ending of modal------------------------------------------------------*/



















/*social media share section*/

.feedback_container{
	margin-top: 0 auto;
	margin-bottom: 200px;
}

.penny{
  margin-top: 200px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 200;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 2px 0px 3px rgba(28,110,164,0.48);
  color: #79ff4d;
}

.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;

}

.pen{
	min-height: 80px;
	text-align: center;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.51); 
	box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.51);
    border:2px solid #79ff4d;
}



.bgimage1,.bgimage2,.bgimage3,.bgimage4{
	vertical-align: center;
	background: 
	background-size: contain;
	width: 100%;
	height:100%;
	border-radius: 50%;
}

.bgimage1{
	background: url('whatssapp1.png') no-repeat center;
}


.bgimage2{
	background: url('facebook1.png') no-repeat center;
}

.bgimage3{
	background: url('instagram1.png') no-repeat center;
}

.bgimage4{
	background: url('twitter1.png') no-repeat center;
}

.pen:hover{
	-webkit-box-shadow: 5px 5px 37px 0px #79FF4D; 
box-shadow: 5px 5px 37px 0px #79FF4D;
	transition: all .3s;
	-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
border: none;
}

/*end of social media share section*/





.bottomsentence{
margin-top: 120px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #79ff4d;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-align: center;

}












/*footer section*/

#footer{
	min-height:300px;
	font-family: cursive, sans-serif;
	background: #FFFFFF;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #000000;
	position:relative;
	border-radius: 15px 0px 15px 0px;
	box-shadow: 8px -3px 29px 0px #000000;
	margin-top: 200px;
	justify-content: space-between;
}



.footerians{
	display: inline-grid;
	position: relative;
	width: 60px;
	height: 250px;
	background: #79ff4d;
	max-height: 200px;
	min-height: 200px;
	transition: all .4s ease;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align:left; 
	border-radius: 0px 0px 22px 0px;
}



.footerians header{
	width: 250px;
	height: 70px;
	font-size: 17px;
	color: #000000;
	text-align: left;
	line-height: 70px;
	background: none;
	user-select: none;
	transition: all .6s ease;
	border-radius: 0px 50px 50px 0px;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.footerians ul a{
	margin-top: 10px;
	display: block;
	height: 100%;
	width: 10px;
	line-height: 50px;
	font-size: 24px;
	color: #79ff4d;
	padding-left: 20px;
	box-sizing: border-box;
	transition: .3s;
}

.footerians ul li:hover a{
	padding-left: 70px;
}

.footerians ul a {
	margin-right: 0px;
}
.footerians ul {
width: 20px;
}


.img{
	margin-right: 10px
}

.case1,.case2,.case3,.case4{
	border-radius: 50%;
	box-shadow: 6px 5px 7px 0px rgba(0,0,0,0.7);
	vertical-align: center;
	background-size: contain;
	max-height: 25px;
	min-height: 25px;
	max-width: 25px;
	min-width: 25px;
	width: 25px;
	height: 25px;
	padding-top: 1%;
	border-radius: 50%;
	border: 3px solid #FFFFFF;

}

.case1{
	background: url('facebook.png') no-repeat center;
}

.case2{
	background: url('twitter.png') no-repeat center;
}

.case3{
	background: url('linkedin.png') no-repeat center;
}

.case4{
	background: url('instagram.png') no-repeat center;
}



.linkr{
color: #ffffff;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}


.linkr2{
color: #000000;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}



#links {
	position: relative;
	display: inline-flex;
	margin-left: 30%;
}

#links ul a{
	margin-top: 0px;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 25px;
	font-size: 14px;
	color: #ffffff;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.copyright{
	position: relative;
	display: inline-table;
	max-width: 500px;
	float: right;
	font-size: 10px; 
	margin-top:20px; 
}

.t_and_t{
	position: relative;
	display: inline-flex;
	margin-left: 20%;
	font-size: 14px;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
	line-height: 40px;
	margin-bottom: 25px;
}

.t_and_t ul a{
color: #ffffff;
	
}

/*end of footer section*/





#menu,#body,#advertisement,#textarea,.refresh,.container,#buttonscontainer,.section,.tryme,.textarea,.penny,#feedback_container,.bottomsentence,.penny-container,.icon{
	margin-left: 5%;
	margin-right: 5%;

}











/*--------------------------media queries-------------------------*/






/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL HEADERS ONLY------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


/*------------------------------------------------------
--------------------MEDIA SCREEN 600--------------------
--------------------------------------------------------*/


/*---------------HEADER-------------*/
@media screen and (max-width: 600px){
#header{
	min-height: 50px;
	height: 50px;
	border-radius: 0px;
	font-size: 25px;
}

#headtext{
	display: none;
}

}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600-------------
--------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL HEADERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/









/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL FOOTERS ONLY------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/




/*-------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 800--------------
--------------------------------------------------------*/


@media screen and (max-width: 800px){
.footerians header{
	font-size: 12px;
	color: #000000;
}

#links {
	margin-left: 20%;
}


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 800-------------
--------------------------------------------------------*/


/*-------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 600--------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 600px){

.footerians header{
	font-size: 12px;
}

.copyright{
	max-width: 250px;
}

#footer{
	min-height: 500px;
}

#links {
	margin-left: 60%;
}

.t_and_t{
	margin-left: 40%;
}

}

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600--------------------
--------------------------------------------------------*/



/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 346--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 346px){
.t_and_t{
	margin-left: 22%;
}

.footerians header{
	font-size: 10px;
}
}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 346---------------
--------------------------------------------------------*/




/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 320--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 320px){
.footerians header{
	font-size: 10px;
}

.copyright{
	max-width: 150px;
}

#footer{
	min-height: 600px;
}


.t_and_t{
	margin-left: 23%;
}

}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 320--------------
--------------------------------------------------------*/



/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 240--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 240px){
.t_and_t{
	margin-left: 30%;
}
}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 240--------------
--------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL FOOTERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/










/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL OTHERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


/*------------------------------------------------------
--------------------MEDIA SCREEN BACK BUTTON 600--------
--------------------------------------------------------*/


/*---------------BACK BUTTON-------------*/
@media screen and (max-width: 600px){
label #back{
	left:10px;
	top: -16px;
	font-size: 40px;
}


label #btn{
	right: -2px;
	font-size: 35px;
}


#headtext{
	display: none;
}

}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600-------------
--------------------------------------------------------*/




/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL OTHERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/











@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}

@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
}