#header{
	min-height:100px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background: #FFFFFF;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	font-size: 50px;
	letter-spacing: 6px;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #ffffff;
	font-weight:bold;
	text-align:center;
	height:200px; 
	text-shadow: 8px 7px 3px rgba(43,60,44,0.71);
	position:relative;
	border-radius: 15px 0px 15px 0px;
	box-shadow: 8px -3px 29px 0px #000000;
}

.header_link{
	color: white;
}

.headtext{ 
font-size: 15px;
text-shadow: 5px 4px 3px rgba(0,0,0,0.26);
margin-top: 75px;
}

.dots{
	font-size: 30px;	
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


#check{
	display: none;
}



label #btn{
	position: absolute;
	cursor: pointer;
	background: transparent;
	left:10px;
	top: 5px;
	font-size: 40px;
	color: #ffffff;
	border-radius: 50%;
	padding:6px 12px;
	transition: all .5s;
	text-shadow: -7px -8.5px 3px rgba(43,60,44,0.71);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}








.topicsentence{
font-size: 32px;
letter-spacing: 2px;
word-spacing: 2px;
color: #79ff4d;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
text-align: center;
}




.pennyless{
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 200;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 2px 0px 3px rgba(28,110,164,0.48);
  color: #79ff4d;
}




















/*section1 of the homepage*/

/*profile*/


.label1{
	border: .5px solid #79ff4d;
	border-radius: 15px 15px 15px 15px;
	max-width: 100px;
	position: relative;	
	min-height: 200px;
	min-width:  100px;
	margin: 200px 10px  10px 10px;
	
}





.container{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;


}


main {
	overflow: hidden;
}


main a:visited{
	color: white;
}

main a:hover i{
	color: white;
}

.icon{
	background: #79ff4d;
	z-index: 1;
	/*float: left;*/
	position: absolute;
	font-size: 10px;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	font-style: normal;
	color: black;
	top: -5px;
	left: -5px;
	border-radius: 50%;





	-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}
















/*footer section*/

#footer{
	min-height:300px;
	font-family: cursive, sans-serif;
	background: #FFFFFF;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #000000;
	position:relative;
	border-radius: 15px 0px 15px 0px;
	box-shadow: 8px -3px 29px 0px #000000;
	margin-top: 200px;
	justify-content: space-between;
}



.footerians{
	display: inline-grid;
	position: relative;
	width: 60px;
	height: 250px;
	background: #79ff4d;
	max-height: 200px;
	min-height: 200px;
	transition: all .4s ease;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align:left; 
	border-radius: 0px 0px 22px 0px;
}



.footerians header{
	width: 250px;
	height: 70px;
	font-size: 17px;
	color: white;
	text-align: left;
	line-height: 70px;
	background: none;
	user-select: none;
	transition: all .6s ease;
	border-radius: 0px 50px 50px 0px;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.footerians ul a{
	margin-top: 10px;
	display: block;
	height: 100%;
	width: 10px;
	line-height: 50px;
	font-size: 24px;
	color: #79ff4d;
	padding-left: 20px;
	box-sizing: border-box;
	transition: .3s;
}

.footerians ul li:hover a{
	padding-left: 70px;
}

.footerians ul a {
	margin-right: 0px;
}
.footerians ul {
width: 20px;
}


.img{
	margin-right: 10px
}

.case1,.case2,.case3,.case4{
	border-radius: 50%;
	box-shadow: 6px 5px 7px 0px rgba(0,0,0,0.7);
	vertical-align: center;
	background-size: contain;
	max-height: 25px;
	min-height: 25px;
	max-width: 25px;
	min-width: 25px;
	width: 25px;
	height: 25px;
	padding-top: 1%;
	border-radius: 50%;
	border: 3px solid #FFFFFF;

}

.case1{
	background: url('facebook.png') no-repeat center;
}

.case2{
	background: url('twitter.png') no-repeat center;
}

.case3{
	background: url('linkedin.png') no-repeat center;
}

.case4{
	background: url('instagram.png') no-repeat center;
}



.linkr{
color: #ffffff;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}


.linkr2{
color: #000000;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}


.links {
	position: relative;
	display: inline-flex;
	margin-left: 20%;
}

.links ul a{
	margin-top: 0px;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 25px;
	font-size: 14px;
	color: #ffffff;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.copyright{
	position: relative;
	display: inline-table;
	max-width: 500px;
	float: right;
	font-size: 10px; 
	margin-top:20px; 
}

.t_and_t{
	position: relative;
	display: inline-flex;
	margin-left: 20%;
	font-size: 14px;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
	line-height: 40px;
	margin-bottom: 25px;
}

.t_and_t ul a{

color: #ffffff;
	
}



/*end of footer section*/




































.topicsentence,#advertisement,.textarea,#feedback_container,.bottomsentence,.contact-content{
	margin-left: 10%;
	margin-right: 10%;

}









/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------MEDIA QUERIES--------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/























/*------------------------------------------------------
--------------------MEDIA SCREEN 668--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 668px){
label #btn{
	left:10px;
	top: 5px;
	font-size: 40px;
}

.light{
	max-width: 350px;
	max-height: 350px;
}

.label1{
	max-width: 350px;
	min-height: 350px;
	min-width:  350px;
}

.text_container{
	padding-left: 180px;
}



}
/*----------------------------------*/













/*------------------------------------------------------
--------------------MEDIA SCREEN 600--------------------
--------------------------------------------------------*/


/*---------------HEADER-------------*/
@media screen and (max-width: 600px){
#header{
	min-height: 50px;
	height: 50px;
	border-radius: 0px;
	font-size: 25px;
	width: 100%;
}

.headtext{
	display: none;
}
}
/*----------------------------------*/


/*--------------FOOTER-------------*/
@media screen and (max-width: 600px){
.footerians header{
	font-size: 12px;
}

.copyright{
	max-width: 250px;
}

#footer{
	min-height: 500px;
}

.links {
	margin-left: 60%;
}

.t_and_t{
	margin-left: 40%;

}

}
/*----------------------------------*/


/*---------------OTHERS-------------*/
@media screen and (max-width: 600px){
label #btn{
	left:10px;
	top: -5px;
	font-size: 30px;
}
}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600--------------------
--------------------------------------------------------*/








/*------------------------------------------------------
--------------------MEDIA SCREEN 556--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 556px){

.label1{
	max-width: 350px;
	min-height: 350px;
	min-width:  350px;
}

.light{
	max-width: 350px;
	max-height: 350px;
}


}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 556--------------------
--------------------------------------------------------*/






/*------------------------------------------------------
--------------------MEDIA SCREEN 350--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 350px){

.label1{
	max-width: 200px;
	min-height: 200px;
	min-width:  200px;
}

.light{
	max-width: 200px;
	max-height: 200px;
}


}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 350--------------------
--------------------------------------------------------*/
























































































































































































































@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}

@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
}