#header{
	min-height:100px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background: #FFFFFF;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	font-size: 50px;
	letter-spacing: 6px;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #ffffff;
	font-weight:bold;
	text-align:center;
	height:200px; 
	text-shadow: 8px 7px 3px rgba(43,60,44,0.71);
	position:relative;
	border-radius: 15px 0px 15px 0px;
	box-shadow: 8px -3px 29px 0px #000000;
}

.header_link{
	color: white;
}

.headtext{ 
font-size: 15px;
text-shadow: 5px 4px 3px rgba(0,0,0,0.26);
margin-top: 75px;
}

.dots{
	font-size: 30px;	
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


#check{
	display: none;
}



label #btn{
	position: absolute;
	cursor: pointer;
	background: transparent;
	left:10px;
	top: 5px;
	font-size: 40px;
	color: #ffffff;
	border-radius: 50%;
	padding:6px 12px;
	transition: all .5s;
	text-shadow: -7px -8.5px 3px rgba(43,60,44,0.71);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}




.span{
font-size: 28px;
color:#000000;
font-family: Impact, Charcoal, sans-serif;
letter-spacing: 4px;
word-spacing: 2px;
font-weight: 500;

}







.topicsentence{
font-size: 32px;
letter-spacing: 2px;
word-spacing: 2px;
color: #79ff4d;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
text-align: center;
}




.pennyless{
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 200;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 2px 0px 3px rgba(28,110,164,0.48);
  color: #79ff4d;
}






#buttonscontainer{
	margin: 0 auto;
	margin-top: 20px;
}


.loginbutton{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	color: #79ff4d;
	font-size: 17px; 
	line-height: 17px; 
	padding: 15px;
	border-radius: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bolder;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal; font-variant: normal;
	text-transform: none;
	box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
	border: 3px solid #79ff4d;
	display: inline-block;
	background: #FFFFFF;
	background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF 100%);
}

.loginbutton:hover {
background: #4D6F5A; 
}

.loginbutton:active {
background: #4D6F5A;
}


.login{
margin-bottom: 40px;
max-width: 200px;
}






#buttonscontainer2{
	margin: 0 auto;
	margin-top: 50px;
}




#advertisement{
	position: relative;
	border-radius: 15px;
	text-align:center;
	background-color: #79ff4d;
	height:200px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: 5px 4px 17px 3px #848484;
}











/*contact section*/
.contact{
	background-color: none;
	padding-bottom: 160px;
	border-radius: 20px 20px 20px 20px;
	border: 0.5px solid #79ff4d;
	margin-bottom: 150px;
}

/*.bio > .bio-content{
	border: 1px solid black;
	padding: 60px 20px 60px 20px;
	border-radius: 30px 30px 30px 30px;
	background: white;
}*/

.contact h1{
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 200;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 2px 0px 3px rgba(28,110,164,0.48);
  color: #79ff4d;
}


 .contact-content p{
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size: 15px;
 max-width: 40px;
}

.contact-content span{
	font-weight: bolder;
	font-size: 20px;
	color: #79ff4d;
}



/*end of contact section*/









/*Bio section*/
.bio{
	background-color: none;
	padding-bottom: 160px;
	border-radius: 20px 20px 20px 20px;
	border: 0.5px solid #79ff4d;
	margin-bottom: 150px;
}




 .bio-content p{
 font-family: "Comic Sans MS", cursive, sans-serif;
 font-size: 15px;
 max-width: 100%;
 text-align: right;
margin-bottom: 40px;
 padding: 0px 11px 11px 0px;
 
 text-transform: uppercase;
 font-weight: bold;
 transition: all .5s;

}

.bio-content .image{
	border-radius: 5px 150px 150px 150px ;
	float: right;
}


.bio-content a:visited{	
color: black;
}





.icon{
	position: relative;
    font-size: 13px;
    font-style: normal;
    color: #79ff4d;
    text-shadow: 2px 3px 2px #000000;
    float: right;
    margin-right: 10px;

 
}



.wrapper{
	margin-bottom: 10px;
	transition: .4s ease;
	border-radius: 0px 10px 10px 10px;
}



.wrapper:hover{
	background: #79ff4d;

}


.wrapper:hover .icon{
	color: white;

}

.wrapper:hover > .immage{
	
transform: scale(1.5);
}


 .date {
	float: right;
	font-size: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;	
	padding-right: 15px;

}



/*end of bio section*/










.bottomsentence{
margin-top: 500px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #79ff4d;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-align: center;
}





/*footer section*/

#footer{
	min-height:300px;
	font-family: cursive, sans-serif;
	background: #FFFFFF;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #000000;
	position:relative;
	border-radius: 15px 0px 15px 0px;
	box-shadow: 8px -3px 29px 0px #000000;
	margin-top: 200px;
	justify-content: space-between;
}



.footerians{
	display: inline-grid;
	position: relative;
	width: 60px;
	height: 250px;
	background: #79ff4d;
	max-height: 200px;
	min-height: 200px;
	transition: all .4s ease;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align:left; 
	border-radius: 0px 0px 22px 0px;
}



.footerians header{
	width: 250px;
	height: 70px;
	font-size: 17px;
	color: #000000;
	text-align: left;
	line-height: 70px;
	background: none;
	user-select: none;
	transition: all .6s ease;
	border-radius: 0px 50px 50px 0px;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.footerians ul a{
	margin-top: 10px;
	display: block;
	height: 100%;
	width: 10px;
	line-height: 50px;
	font-size: 24px;
	color: #79ff4d;
	padding-left: 20px;
	box-sizing: border-box;
	transition: .3s;
}

.footerians ul li:hover a{
	padding-left: 70px;
}

.footerians ul a {
	margin-right: 0px;
}
.footerians ul {
width: 20px;
}


.img{
	margin-right: 10px
}

.case1,.case2,.case3,.case4{
	border-radius: 50%;
	box-shadow: 6px 5px 7px 0px rgba(0,0,0,0.7);
	vertical-align: center;
	background-size: contain;
	max-height: 25px;
	min-height: 25px;
	max-width: 25px;
	min-width: 25px;
	width: 25px;
	height: 25px;
	padding-top: 1%;
	border-radius: 50%;
	border: 3px solid #FFFFFF;

}

.case1{
	background: url('facebook.png') no-repeat center;
}

.case2{
	background: url('twitter.png') no-repeat center;
}

.case3{
	background: url('linkedin.png') no-repeat center;
}

.case4{
	background: url('instagram.png') no-repeat center;
}



.linkr{
color: #ffffff;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}


.linkr2{
color: #000000;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}


.links {
	position: relative;
	display: inline-flex;
	margin-left: 20%;
}

.links ul a{
	margin-top: 0px;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 25px;
	font-size: 14px;
	color: #ffffff;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.copyright{
	position: relative;
	display: inline-table;
	max-width: 500px;
	float: right;
	font-size: 10px; 
	margin-top:20px; 
}

.t_and_t{
	position: relative;
	display: inline-flex;
	margin-left: 20%;
	font-size: 14px;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
	line-height: 40px;
	margin-bottom: 25px;
}

.t_and_t ul a{

color: #ffffff;
	
}





/*end of footer section*/




































.topicsentence,#advertisement,.textarea,#feedback_container,.bottomsentence,.contact-content{
	margin-left: 10%;
	margin-right: 10%;

}

.section1,.section,.bio,.contact{
	margin-left: 5%;
	margin-right: 5%;
}



.bio-content{
	margin-left: 7%;
	margin-right: 7%;
}









/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------MEDIA QUERIES--------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/





/*-----------------breakpoint for labels and sections-----------------*/


@media screen and (max-width: 1280px){
.section1{
	font-size:20px;
}	
}

@media screen and (max-width: 1440px){
.section1{
	font-size:20px;
}
}

@media screen and (max-width: 1024px){
.section1{
	font-size:21px;
}	
}

@media screen and (max-width: 800px){
.section1{
	font-size:18px;
}

.footerians header{
	font-size: 12px;
	color: #000000;
}
}

@media screen and (max-width: 768px){
.section1{
	font-size:18px;
}
}

/*-------------------end of label and sections---------------*/






















/*------------------------------------------------------
--------------------MEDIA SCREEN 668--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 668px){
label #btn{
	left:10px;
	top: -18px;
	font-size: 40px;
}

.light{
	max-width: 150px;
	max-height: 150px;
}

.label1{
	max-width: 150px;
	min-height: 150px;
	min-width:  150px;
}

.text_container{
	padding-left: 180px;
}



}
/*----------------------------------*/













/*------------------------------------------------------
--------------------MEDIA SCREEN 600--------------------
--------------------------------------------------------*/


/*---------------HEADER-------------*/
@media screen and (max-width: 600px){
#header{
	min-height: 50px;
	height: 50px;
	border-radius: 0px;
	font-size: 25px;
	width: 100%;
}

.headtext{
	display: none;
}
}
/*----------------------------------*/


/*--------------FOOTER-------------*/
@media screen and (max-width: 600px){
.footerians header{
	font-size: 12px;
}

.copyright{
	max-width: 250px;
}

#footer{
	min-height: 500px;
}

.links {
	margin-left: 60%;
}

.t_and_t{
	margin-left: 40%;

}

}
/*----------------------------------*/


/*---------------OTHERS-------------*/
@media screen and (max-width: 600px){
label #btn{
	left:10px;
	top: -5px;
	font-size: 30px;
}
}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600--------------------
--------------------------------------------------------*/








/*------------------------------------------------------
--------------------MEDIA SCREEN 556--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 556px){

.section1{
	margin-top: 100px;
	background: transparent;
	width: 70%;
	min-height: 400px;
	text-align: right;
	margin-bottom: 70px;
}


.text_container{
	margin-top: 10px;
	max-width: 70%;
	padding-left: 40px;
}


.text_container > .p2{
	margin-top: 170px;
	font-size: 13px;
	margin-right: 10px;
}

.label1{
	max-width: 150px;
	min-height: 150px;
	min-width:  150px;
}

.light{
	max-width: 150px;
	max-height: 150px;
}


}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 556--------------------
--------------------------------------------------------*/




/*------------------------------------------------------
--------------------MEDIA SCREEN 486--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 486px){
.text_container{
	margin-top: 10px;
	max-width: 70%;
	padding-left: 30px;
}

.text_container > .p1{
	font-size: 18px;
	margin-top: 170px;

}

.text_container > .p2{
	margin-top: 10px;
	font-size: 13px;
	margin-right: 10px;
}

.label1{
	max-width: 150px;
	min-height: 150px;
	min-width:  150px;
}

.light{
	max-width: 150px;
	max-height: 150px;
}


}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 486--------------------
--------------------------------------------------------*/









/*------------------------------------------------------
--------------------MEDIA SCREEN 428--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 428px){
.span{
	font-size: 20px;
}


}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 428--------------------
--------------------------------------------------------*/





/*------------------------------------------------------
--------------------MEDIA SCREEN 386--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 386px){
.contact-content p{
	font-size: 10.5px;
	
}

.contact > .contact-content{
	padding: 60px 10px 60px 10px;	
}

.bio-content p{
	font-size: 10.5px;
	
}

.bio > .bio-content{
	padding: 60px 10px 60px 10px;	
}
}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 386--------------------
--------------------------------------------------------*/









/*------------------------------------------------------
--------------------MEDIA SCREEN 296--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 296px){
.span{
	font-size: 14px;
}


}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 296--------------------
--------------------------------------------------------*/













/*------------------------------------------------------
--------------------MEDIA SCREEN 274--------------------
--------------------------------------------------------*/

/*---------------OTHERS-------------*/
@media screen and (max-width: 274px){
.contact-content p{
	font-size: 8.5px;
	padding-right: 40px;
}

.bio-content p{
	font-size: 8.5px;
	padding-right: 40px;
}
}
/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 274--------------------
--------------------------------------------------------*/







































































































































































































@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}

@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
}