{% from '_formhelpers.html' import render_field %}




<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Edit your profile</title>

	<link href="{{url_for('static', filename='edit_profile.css' )}}" rel="stylesheet" type="text/css" />



	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

	<!-- link to my jquery library that is local -->
   
   

    
	<script type="text/javascript">
	/*function to go back*/ 
    function back(){
    	history.back();
    }
	

	</script>



</head> 





<body> 



<div id = "header">

<label for="check">

	<button  id="back" type="button" onclick="back();">&#10094;</button>
	
</label>


		<a class="header_link" href="{{url_for('home.general')}}">	
		STURF
		</a>

<div id="headtext">
	Improving your wellbeing <span class="dots">...</span>
</div>


</div>






{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}

		<ul class=flashes>

		{% for category, message in messages %}

			<li class="{{ category }}">
				{{ message }}
			</li>

		{% endfor %}

		</ul>
		
	{% endif %}
{% endwith %}













<div class = "topicsentence">
		<center class = "pennyless">  
				PROFILE SETTINGS
				<br>
				<br>	
		</center>
</div>


<center>
		<div class="container">

						<form method='post'>
			            	<dl>
			            		{{Caption.csrf_token}}
			            		{{ render_field(Caption.caption, cols="35", rows="4", onInput="TextCounter(this, 160)") }}
			            		
							</dl>
								<p><input type=submit value= Update  class="loginbutton"></p>
			            </form>





			            <form method='post'>
			            	<dl>
			            		{{moreAbout.csrf_token}}
			            		{{ render_field(moreAbout.more_about, cols="35", rows="5") }}
							</dl>
								<p><input type=submit value= Update  class="loginbutton"></p>
			            </form>






			            


		</div>           
</center>

   



















</body>






























    <script src="{{url_for('static', filename='jquery-3.5.1.min.js' )}}"></script>
   

    
	<script type="text/javascript">

    /*function to check text input length*/ 
	function TextCounter(field, limit) {
    var typedChars = $(field).val().length;
    $(field).next('span').text(typedChars=0?'0 / '+limit:typedChars+' / '+limit);
    };

	</script>















</html>