<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Your notifications</title>

	<link href="{{url_for('home.static', filename='notifications.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

	<script type="text/javascript">

    function back(){
    	history.back();
    }
	
	</script>



</head> 





<body> 



<div id = "header">

<label for="check">
	<buttom  id="btn" type="button" onclick="back()";>&#10095;</button>
	
</label>


		<a class="header_link" href="{{url_for('home.general')}}">	
		STURF
		</a>


<div class="headtext">
	Improving your wellbeing <span class="dots">...</span>
</div>


</div>
































<div class="bio">
	<br>
	<br>


		<div class="bio-content">
			
		{% for notification in notifications %}
		<div class="wrapper">


							{% if  notification.name == 'unread_message_count_from_roomie_section' %}

													

														<p>

															  <i class= "icon"> &spade; </i> 
									

															<div class="date">
															 {{notification.timestamp.strftime("%A, %d %B %Y")}}
															</div>


															You've got  <span style = 'color:black;'> {{current_user.new_messages()}} </span> messages in the roomie section

														<a  class = "loginbutton" href="{{ url_for('roomie.find_a_roomie', page = 1, sort = 'normal') }}">

														Do you want to read them?

													    </a>

														</p>

							{% elif  notification.name == 'you_recieved_new_roomie_request' %}



														<p>

															  <i class= "icon"> &spade; </i> 
									

															<div class="date">
															 {{notification.timestamp.strftime("%A, %d %B %Y")}}
															</div>


														 	<span style = 'color:black;'>  1 </span> new person wants to be your roomate, that means you have  {{ notification.data }} unattended requests like this in total 


														<a  class = "loginbutton" href="{{ url_for('roomie.find_a_roomie', page = 1, sort = 'normal') }}">

														Check it out?

													    </a>

														</p>




				

							{% endif %}
												

		</div>



		</div>
		{% endfor %}
</div>



























</body>



<footer id = 'footer'>



<div class="footerians">
	<header><span style="margin-right: 5px; color: #ffffff; font-size: 25px;">☎</span>Get in touch with us</header>

	<ul>

	<li><a href="#"><div class="case1"></div></a></li>
	<li><a href="#"><div class="case2"></div></a></li>
	<li><a href="#"><div class="case3"></div></a></li>
	<li><a href="#"><div class="case4"></div></a></li>

	</ul>
	

</div>



<div class="t_and_t">
	<ul>
	<li><a href="#">Terms and conditions</a></li>
	<li><a href="#">what more can we do?</a></li>
	<li><a href="#">Ad policy</a></li>
	<li><a href="#">Content policy</a></li>
	</ul>
</div>


	

<div class="links">
	<ul>
	<li><a href="#">Home</a></li>
	<li><a href="file:///C:/Users/SIMON/Documents/site%20work/site/Electricity.html">Electricity</a></li>
	<li><a href="#">History</a></li>
	<li><a href="#">About Us</a></li>
	<li><a href="#">FAQS</a></li>
	<li><a href="{{url_for('security.logout')}}">logout</a></li>
	</ul>

</div>


	
<div class="copyright">
	Copyright &copy; 2020-2025 STURF
	All rights reserved.
	STURF is among the federally registered trademarks of
    STURF LLC and may not be used by third parties without explicit permission.


</div>





	
</footer>





</html>