
<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Sturf Posts</title>

	<link href="{{url_for('post.static', filename='post_sturf.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >


	<script type="text/javascript">

	    function back(){
	    	history.back();
	    }
	    
	</script>

</head> 





<body> 





<!-- header section -->

<div id = "header">
	
	<label for="check">
		<button  id="back"  onclick="back()";>&#10094;</button>
	</label>


		
	STURF

	<div id="headtext">
		Improving your wellbeing <span class="dots">...</span>
	</div>


</div>



<!-- end of header section -->







<div class = "topicsentence">
		<center> 
			Party?, Church programme?, Movie night?,  a shoutout?...
			whatever information you are trying to pass on, 
			<span class ="span">POST IT </span>here and reach a 
			<span class ="span"> VERY LARGE AUDIENCE</span> lightening fast...
		</center>
</div>




















<div id = "advertisement">
		<center> AD</header>
</div>









<a href="#header" class="uplink">
		<i>&#10138;</i>
</a>

<a href="#buttonscontainer2" class="downlink">
		<i>&#10136;</i>
</a>







<center>
<div class = "section1">


			<div class="text_container">
				What if i told you there was a site which helps you monitor
				the electricity situation in school and off campus?....and it works like magic

				
			</div>

			<main class = "label1">
				<div class = "light" /></div>
			</main>

			
</div>
</center>
















<center>
<div class = "section2">


			<div class="text_container2">
			Aren't you tired of calling your
			friends to ask about the power situaton on/off campus?
			<!-- <br>
			<a href="#" class="linkr">	Join us, Its Free</a> -->
			</div>

			<main class = "label2">
				<div class = "light2" /></div>
			</main>

			
</div>
</center>








<center>
<div class = "section3">


			<div class="text_container3">
				If you always know where there is 
				electricity then your phone will always be charged,
				therefore you can't fail to prepare for tests and exams. 
			</div>

			<main class = "label3">
				<div class = "light3" /></div>
			</main>

			
</div>
</center>














<center>
<div class = "section4">


<div class="text_container4">
	<!-- PROTECT YOUR GPA FROM THE DANCING COFFIN GUYS!<br>
	<br> -->
	<!-- Don't allow these guys dance with your precious GPA
	be up to date  with electricity easily  -->
	<!-- <br>
	<a href="#" class="linkr">SIGN UP</a> -->
	80% students attribute poor academics to a lack of information about the whereabouts of electricity and as a result their GPA ends up with <span style="font-weight :bolder;">the dancing coffin guys </span>

</div>


<main class = "label4">
	<div class = "light4" /></div>
</main>

			
</div>
</center>






















<div id="feedback_container">

<center>
<h1 class="penny" >SHARE WITH PEERS!</h1>
</center>

<center>
<div class="penny-container">

<a href = '#' class="pen">
	<div class = "bgimage1"></div>
</a>

<a href = '#' class="pen">
	<div class = "bgimage2"></div>
</a>

<a href = '#' class="pen">
	<div class = "bgimage3"></div>
</a>

<a href = '#' class="pen">
	<div class = "bgimage4"></div>
</a>

</div>


</center>



</div>






<div id = "buttonscontainer2">



	<div>
		<center>
	<div class = "login">
		
		<a class = "loginbutton" href="{{url_for('post.post', page = 1, post_type = 'normal' )}}">
			<center> Proceed &#10095;</center>
		</a>
		</center>		
	</div>
	</div>



</div>












<p class="bottomsentence">This page will disappear after your <span class="linkr2">10th</span> Login</p>














</body>










<!-- ..............................footer............................ -->

<footer id = 'footer'>



<div class="footerians">
	<header><span style="margin-right: 5px; color: #ffffff; font-size: 25px;">☎</span>Get in touch with us</header>

	<ul>

	<li><a href="#"><div class="case1"></div></a></li>
	<li><a href="#"><div class="case2"></div></a></li>
	<li><a href="#"><div class="case3"></div></a></li>
	<li><a href="#"><div class="case4"></div></a></li>

	</ul>
	

</div>



<div class="t_and_t">
	<ul>
	<li><a href="#">Terms and conditions</a></li>
	<li><a href="#">what more can we do?</a></li>
	<li><a href="#">Ad policy</a></li>
	<li><a href="#">Content policy</a></li>
	</ul>
</div>


	

<div id="links">
	<ul>
	<li><a href="#">Home</a></li>
	<li><a href="file:///C:/Users/SIMON/Documents/site%20work/site/Electricity.html">Electricity</a></li>
	<li><a href="#">History</a></li>
	<li><a href="#">About Us</a></li>
	<li><a href="#">FAQS</a></li>
	<li><a href="{{url_for('security.logout')}}">logout</a></li>
	</ul>

</div>


	
<div class="copyright">
	Copyright &copy; 2020-2025 STURF
	All rights reserved.
	STURF is among the federally registered trademarks of
    STURF LLC and may not be used by third parties without explicit permission.


</div>





	
</footer>




</html>

