<!DOCTYPE html>
<html>
<head>

	<title>STURF Inc</title>

	
	<link href="{{url_for('static', filename='splash.css' )}}" rel="stylesheet" type="text/css" />


	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

<!-- 
	<script type="text/javascript">
		//you gonna need to change the URL later
		window.setTimeout(function(){location.href = "http://localhost:70/general"},4000);
	</script> -->


	<script type="text/javascript">
			//you gonna need to change the URL later
			window.setTimeout(function(){location.href = "http://192.168.43.27:70/general"},4000);
	</script>

</head>



<body>
 



<div class="word">

			<div class="container">


						<h3>
						<span></span>
						STURF
						</h3>
				
			</div>

			
</div> 



</body>


</html>