{% from '_formhelpers.html' import render_field %}




<!DOCTYPE html>
<html lang = "en">
<head>
	<title>{{user.first_name}}'s profile</title>

	<link href="{{url_for('static', filename='view-profile.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

	<script type="text/javascript">

    function back(){
    	history.back();
    }
	
	</script>



</head> 





<body> 



<div id = "header">

<label for="check">
	<button  id="back"  onclick="back();">&#10094;</button>
	
</label>


		<a class="header_link" href="{{url_for('home.general')}}">	
		STURF
		</a>


<div id="headtext">
	Improving your wellbeing <span class="dots">...</span>
</div>






<section class = " svg-loader">


<!-- partial:index.partial.html -->
<svg>
  <g>
    <path d="M 50,100 A 1,1 0 0 1 50,0"/>
  </g>
  <g>
    <path d="M 50,75 A 1,1 0 0 0 50,-25"/>
  </g>
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">

      <stop offset="0%" style="stop-color: #79ff4d ; stop-opacity:1" />
      <stop offset="100%" style="stop-color: black; stop-opacity:1" />

    </linearGradient>
  </defs>
</svg>



</section >




</div>









{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        <ul class=flashes>

        {% for category, message in messages %}
            <center>
            <li class="{{ category }}">
                {{ message }}
            </li>
            </center>
        {% endfor %}

        </ul>
        
    {% endif %}
{% endwith %}

















<div class = "topicsentence">
		<center class = "pennyless"> 


				You


		</center>
</div>





	<main class = "label1" >



		<div id="light" 
		style="background: url('{{img}}') no-repeat center;
				background-size: contain;
				width: 100%;
				height:100%;
				padding-top: 100%;
				vertical-align: center;
				max-width: 500px;
				max-height: 500px;"
				

			/>
			


		</div>


		
	</main>

			








<br>
<br>
<br>
<br>
<br>









		<!-- photo update form -->

<center>
	<div class="container"> 

                        <form class="upload-form" method="POST" enctype="multipart/form-data">
                            <dl>
                                {{photoForm.csrf_token}}
                            
                             


                                <label class="choose_file">
                                    {{ render_field(photoForm.photo) }}
                                </label>

                                
                            </dl>


                            <p><input type=submit value= "Update &#10148;"  class="all_done"></p>
                           
                        </form>
	</div>
</center>












<div class = "topicsentence">
		<center class = "pennyless">
						OR
					   <br>  
				you can also use an avatar
				<br>
				<br>	
		</center>
</div>
	




<div  id = "encapsulator">


			<center >

					<div id="cover" style="margin-bottom: 0px;
											 border: 2px solid #79ff4d;
											 max-width: 80%;
											 min-width: 80%;">



					{% for pic_id in pic_list  %}

								<div class="img">
									
									<a href="{{url_for('home.set_avatar', id = current_user.id, img = 'default'+pic_id+'.jpg')}}">
								    <img src="{{url_for('static', filename='profile_pics/uploads/default'+pic_id+'.jpg' )}}" alt="{{pic_id}}">
								    </a>
								</div>

					{% endfor %}






										
					</div>



					

			</center>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




			<center>
			<button id = "load_more" class="simple_btn"  count = {{count}}> more </button>
			</center>









</div>










</body>






<script src="{{url_for('static', filename='jquery-3.5.1.min.js' )}}"></script>
<script src="{{url_for('home.static', filename='view-profile.js' )}}"></script>





</html>