<!DOCTYPE html>
<html lang = "en">
<head>
	<title>your messages today </title>

	<link href="{{url_for('roomie.static', filename='messages.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

	<script type="text/javascript">

    function back(){
    	history.back();
    }
	
	</script>



</head> 





<body> 



<!-- header section -->

<div id = "header">

	<label>
        <button  id="back" type="button" onclick="back()";>&#10094;</button>
    </label>


	<a class="header_link" href="{{url_for('home.general')}}">  
    STURF
    </a>












       <!----------- REPORT BUTTON ---------------->
    <input type="checkbox" id="check">

    <label for="check">
        <i  id="btn">═</i>
        <i  id="cancel">╳</i>
    </label>





    <div class="sidebar">

            

    <ul>







		    <li>
		        <a href="{{url_for('roomie.roomie_requests', request_type = 'requesters')}}">
		            <i style="font-style: normal;">&#10067;</i>

		        Roomie requests

		        </a>

		    </li>



		    <li>
		        <a href="{{url_for('roomie.roomie_requests', request_type = 'roomies')}}">
		            <i style="font-style: normal;">&#10067;</i>

		        your roomies

		        </a>

		    </li>



    </ul>
            
            

    </div>











	<div class="headtext">
		Improving your wellbeing <span class="dots">...</span>
	</div>


</div>



<!-- end of header section -->















<div class = "topicsentence">




		<center class = "pennyless">

		

	


				<br>
				<br>

 
	
		</center>
</div>











	{{my_sent_msgs}}


<br>
<br>
<br>
<br>
	{{my_recieved_msgs}}









<br>
<br>
<br>
<br>


{{ qry }}

<div class="bio">
	<br>
	<br>


		<div class="bio-content">
			
				{% for roomie in r %}
					<div class="wrapper">


						


					<a href="{{url_for('roomie.send_message', recipient_id = roomie.id) }}">
							<p>
								<img  class="image"  src="{{url_for('static', filename='profile_pics/uploads/' + roomie.image_file )}}" alt="{{roomie.first_name}}" width="35" height="35">

								<div class="date">




								
								</div>

								{{ roomie}}

								
								{% if roomie.first_name.__len__() >= 20  %}

									{{ roomie.first_name[0:20] }}...

								{% else %}

									{{ roomie.first_name}}

								{% endif %}







								{% set new_messages = current_user.specific_new_messages_from(roomie) %}
                    			{% if new_messages %}

                    			
                    			{{ new_messages }}

                    			
                    			{% endif %}







	
							</p>
					</a>

							


						

					</div>
				{% endfor %}




		</div>
</div>



























</body>



<footer id = 'footer'>



<div class="footerians">
	<header><span style="margin-right: 5px; color: #ffffff; font-size: 25px;">☎</span>Get in touch with us</header>

	<ul>

	<li><a href="#"><div class="case1"></div></a></li>
	<li><a href="#"><div class="case2"></div></a></li>
	<li><a href="#"><div class="case3"></div></a></li>
	<li><a href="#"><div class="case4"></div></a></li>

	</ul>
	

</div>



<div class="t_and_t">
	<ul>
	<li><a href="#">Terms and conditions</a></li>
	<li><a href="#">what more can we do?</a></li>
	<li><a href="#">Ad policy</a></li>
	<li><a href="#">Content policy</a></li>
	</ul>
</div>


	

<div class="links">
	<ul>
	<li><a href="#">Home</a></li>
	<li><a href="file:///C:/Users/SIMON/Documents/site%20work/site/Electricity.html">Electricity</a></li>
	<li><a href="#">History</a></li>
	<li><a href="#">About Us</a></li>
	<li><a href="#">FAQS</a></li>
	<li><a href="{{url_for('security.logout')}}">logout</a></li>
	</ul>

</div>


	
<div class="copyright">
	Copyright &copy; 2020-2025 STURF
	All rights reserved.
	STURF is among the federally registered trademarks of
    STURF LLC and may not be used by third parties without explicit permission.


</div>





	
</footer>





</html>