<!DOCTYPE html>
<html lang = "en">
<head>
	<title>{{user.first_name}}'s roomie profile</title>

	<link href="{{url_for('roomie.static', filename='polaroid-person.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

	<script type="text/javascript">

    function back(){
    	history.back();
    }
	
	</script>



</head> 





<body> 



<div id = "header">

<label for="check">
	<buttom  id="btn" type="button" onclick="back()";>&#10095;</button>
	
</label>


		<a class="header_link" href="{{url_for('home.general')}}">	
		STURF
		</a>


<div class="headtext">
	Improving your wellbeing <span class="dots">...</span>
</div>


</div>



























<center>

	


						<main class = "label1">

							<div id="light" 
							style="background: url('{{img}}') no-repeat center;
									background-size: contain;
									width: 100%;
									height:100%;
									padding-top: 100%;
									border-radius: 15px 15px 15px 15px;
									vertical-align: center;
									max-width: 500px;
									max-height: 500px;
									border: 0.5px solid #79ff4d"

		 					/></div>

		 				
						</main>

			
	
</center>




<div class = "topicsentence">
		<center class = "pennyless">  
			
				{{user.first_name}} {{user.last_name}}
				<br>
				<br>	
		</center>
</div>











</body>



<footer id = 'footer'>



<div class="footerians">
	<header><span style="margin-right: 5px; color: #ffffff; font-size: 25px;">☎</span>Get in touch with us</header>

	<ul>

	<li><a href="#"><div class="case1"></div></a></li>
	<li><a href="#"><div class="case2"></div></a></li>
	<li><a href="#"><div class="case3"></div></a></li>
	<li><a href="#"><div class="case4"></div></a></li>

	</ul>
	

</div>



<div class="t_and_t">
	<ul>
	<li><a href="#">Terms and conditions</a></li>
	<li><a href="#">what more can we do?</a></li>
	<li><a href="#">Ad policy</a></li>
	<li><a href="#">Content policy</a></li>
	</ul>
</div>


	

<div class="links">
	<ul>
	<li><a href="#">Home</a></li>
	<li><a href="file:///C:/Users/SIMON/Documents/site%20work/site/Electricity.html">Electricity</a></li>
	<li><a href="#">History</a></li>
	<li><a href="#">About Us</a></li>
	<li><a href="#">FAQS</a></li>
	<li><a href="{{url_for('security.logout')}}">logout</a></li>
	</ul>

</div>


	
<div class="copyright">
	Copyright &copy; 2020-2025 STURF
	All rights reserved.
	STURF is among the federally registered trademarks of
    STURF LLC and may not be used by third parties without explicit permission.


</div>





	
</footer>





</html>