#header{
	min-height:100px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background: #FFFFFF;
	background:transparent;
	font-size: 35px;
	letter-spacing: 6px;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #ffffff;
	font-weight:bold;
	text-align:center;
	height: 60px; 
	text-shadow: 8px 7px 3px rgba(43,60,44,0.71);
	position:relative;
	/*box-shadow: 8px -3px 29px 0px #000000;*/
}


.header_link{
	color: white;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	padding: 30px;
	padding-bottom: 35px;
	padding-top: 0px;
	border-radius: 0px 0px 45px 45px;
	-webkit-box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.12); 
	box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.12);

	/*border: 0.5px solid  black;*/
}


#headtext{ 
font-size: 9px;
text-shadow: 1px 1px 2px rgba(0,0,0,0.86);
margin-top: -10px;
font-family:   sans-serif;
color: black;
font-weight: bold;
letter-spacing: 2px;
}

.dots{
	letter-spacing: -3px;
	font-size: 23px;	
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: -7px;
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}





/*-------------------SIDEBAR CSS-------------------*/
.sidebar{
	z-index: 4; 
	position: fixed;
	left: -300px;
	width: 250px;
	height: 100%;
	background: #ffffff;
	max-height: 500px;
	min-height: 500px;
	transition: all .4s ease;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align:center; 
	border-radius: 0px 0px 22px 0px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.26);
	box-shadow: 4px 5px 8px 5px rgba(0,0,0,0.12);

}

.sidebar header{

	font-size: 50px;
	text-align: center;
	line-height: 10px;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
/*	background: white;*/
	user-select: none;
	transition: all .5s ease;

}



.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 50px;
	font-size: 22px;
	color: #79ff4d;
	padding-left: 10px;
	box-sizing: border-box;
	transition: .3s;


}

.sidebar ul li:hover a{
	padding-right: 30px;
}

.sidebar i{
	margin-right: 5px;
	text-shadow: none;
	color: black;
}

#check{
	display: none;
}

label #btn, label #cancel{
	cursor: pointer;
	background: transparent;
}

label #btn{
	position: absolute;
	left: 5px;
	top: -20px;
	font-size: 40px;
	font-style: normal;
	font-weight: bold;
	color: #79ff4d;
	border-radius: 50%;
	padding:6px 12px;
	transition: all .5s;
	text-shadow: 5px 5px 3px rgba(43,60,44,0.31);

}


label #cancel{
	position: fixed;
	z-index: 1111;
	left: -180px;
	top: 2px;
	font-size: 25px;
	color: #ffffff;
	padding: 4px 9px;
	transition: all .5s ease;
}



#check:checked ~ .sidebar{
	left: 0;
}


#check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;

}

#check:checked ~ label #cancel{
	left: 195px;
}

/*-------------------END OF SIDEBAR -------------------*/




#advertisement{
	position: relative;
	border-radius: 15px;
	text-align:center;
	background-color: #79ff4d;
	height:150px;
	margin-bottom: 30px;
	margin-top: 20px;
	box-shadow: 5px 4px 17px 3px #848484;
}







.message_badge{ 

float: left; 

background: #79ff4d; 

padding: 1px 4px 1px 4px; ; 

color: black; 

border-radius: 50%; 

position: absolute;

 margin-top: -16px; 

 margin-left: -8px; 

 font-size:12px;

 font-weight: bold;
 font-family: sans-serif;
}









/*start of navigation bar*/

.table{
  display: table;
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  	position: sticky;
  	z-index: 3;
  	top: 0px;

}

.table-cell{

  display: table-cell;
  text-align: center;
  border-radius: 1px;
  background: transparent;
  padding-bottom: 2px;
}

#menu{
  height: 10px;
  width: 60%;
  margin: auto;
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 50px;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=5);
}



.menu-item{
  margin: 1px;
  font-size: 17px;
  flex: 1;
  padding: -10px;
  transition: all .2s;
  cursor: pointer;
  color: #636363;
  background-color: white;
/*  border: 1px solid #79ff4d;*/
  border-radius: 7px;
  position: relative;

}

.menu-item > span{

    display: block;
  position: absolute;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bolder;
  color: white;
  left: 5px;
  right: 5px;
  border-radius: 50px;
  background-color: black;
  padding: 2px;
  opacity: 0;
  transition: all .2s .1s;
  transform: translateY(70px);
  z-index: 4;
  font-family: sans-serif;

}

.menu-item:hover{
/*  -moz-box-shadow: 0px 0px 5px 0px #c0c0c0;
  -webkit-box-shadow: 0px 0px 5px 0px #c0c0c0;
  -o-box-shadow: 0px 0px 5px 0px #c0c0c0;
  box-shadow: 0px 0px 5px 0px #c0c0c0;*/
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=5);
  flex: 2;
  color: white;
  transform: scale(1.1);
  z-index: 3;
  background: #79ff4d;

}

.menu-item:hover > span{
  transform: translateY(35px);
  opacity: 1;
  margin-top: -32px;

}


.menu-item:hover > .message_badge{
color: white;

}


.menu-item:hover > i{
fill: white;
}




.menu-item.active {
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=5);
  flex: 2;
  color: white;
  transform: scale(1.1);
  z-index: 3;
  background: #79ff4d; }



.menu-item.active span{
  transform: translateY(35px);
  opacity: 1;
  margin-top: -32px;

}


.menu-item.active i{
fill: white;

}








@media all and (max-width: 800px){

  #menu{
    width: 80%;
  }
}


/*end of navigation */








/*beginning of svg loader*/


.svg-loader {
	
  position: fixed; 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 999;
  top: 0%;
  /*bottom: 200%;*/


}

.svg-loader svg {

  overflow: visible;
  width: 100px;
  height: 150px;

  -moz-transform: scale(0.5);
-webkit-transform: scale(0.5);
-o-transform: scale(0.5);
-ms-transform: scale(0.5);
transform: scale(0.5);

}

.svg-loader svg g {
  animation: slide 2s linear infinite;
}
.svg-loader svg g:nth-child(2) {
  animation-delay: 0.5s;
}
.svg-loader svg g:nth-child(2) path {
  animation-delay: 0.5s;
  stroke-dasharray: 0px 158px;
  stroke-dashoffset: 1px;
}
.svg-loader svg path {
  stroke: url(#gradient);
  stroke-width: 20px;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 0 157px;
  stroke-dashoffset: 0;
  animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes escalade {
  0% {
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 156px 157px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 156px 157px;
    stroke-dashoffset: -156px;
  }
}


/*end of svg loader*/













/*beginning of splash screen */


.word {
	perspective: 1000px; 
	z-index: 9999;
  	position: fixed;
  	width: 100%;
  	height: 100%;
}



.word > .container { 	
	 	 	 font-size: 100px; 	
	 	 	 user-select: none; 	
	 	 	 line-height: .8; 
			 animation: falling  1.5s ease-out; 	
			 animation-delay: .5s;
			 background-color: #79ff4d; 	
			 color: #fff; 	
			 display: flex; 	
  			 justify-content: center; 	
  			 align-items: center; 	
  			 flex-direction: row; 	
  			 height: 100%; 	
  			 margin: 0;
  			 background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%) ;
  			 border-radius: 10px;
} 



.word h3{
	 
	 	 	 user-select: none; 	
	 	 	 line-height: .8; 
			 animation: standing  2s ease-out; 	
			 animation-delay: .8s;
			 max-height: 180px;
			 color: #fff; 	
			 display: flex; 	
			 font-family: cursive; 
  			 justify-content: center; 	
  			 align-items: center; 	
  			 flex-direction: row; 	
  			 height: 96vh; 	
  			 margin: 0;
			font-size: 28px;
			letter-spacing: 6px;
			font-weight: 700;
			text-decoration: none solid rgb(68, 68, 68);
			color: #ffffff;
			font-weight:bold;
			text-align:center;
			text-shadow: 8px 7px 3px rgba(43,60,44,0.71);
			position: relative;
			overflow: hidden;
	


}



.container  span{
			 min-width: 150px;
			 min-height: 15px;	
			 display: flex;
  			 justify-content: center; 	
  			 align-items: center; 	
  			 margin: 0 auto;
			 position: absolute;
			 padding-top: 35px;
			 background: linear-gradient(90deg, transparent, #EFFFCA, transparent);
			 transform: skewX(-35deg);
			 right: -120%;
			 border: 1px hidden #fff;
			 animation: shine .8s; 	
			 animation-delay: 2.3s;
			 animation-iteration-count: 2s;
			 animation-direction: alternate-reverse;
		
}



@keyframes falling { 	12% { 		transform: rotateX(240deg); 	} 	 	
						24% { 		transform: rotateX(150deg); 	} 	 	
						36% { 		transform: rotateX(200deg); 	} 	 	
						48% { 		transform: rotateX(175deg); 	} 	 	
						60%, 85% { 	transform: rotateX(180deg); 	} 	 	
						100% { 		transform: rotateX(0deg); 	} } 



@keyframes standing { 	12% { 		  transform: rotateX(0deg);	} 	 	
						24% { 		transform: rotateX(180deg); 	} 	 	
						36% { 		 transform: rotateX(175deg); 	} 	 	
						48% { 		 transform: rotateX(200deg); }	 	
						60%{ 		  transform: rotateX(150deg);	} 	 	
						100% { 		 transform: rotateX(0deg); 	} } 


@keyframes shine { 	100% { 		  right:100%; transition: .3s;	} } 


/*end of splash screen*/












.svg-icon{
	fill: black;

}





.tryme{
	margin-top: 100px;
	position: relative;
	min-width: 250px;
	max-width: 500px;
	padding: 0;
	transition: .5s;

}

.tryme span
{
	position: absolute;
	transition: transform .5s;

}


.tryme span:nth-child(1),
.tryme span:nth-child(3)
{
	width: 100%;
	height: 3px;
	background: #79ff4d; 
}

.tryme span:nth-child(1){
	top:0;
	left: 0;
	transform-origin: right; 
}

.tryme:hover span:nth-child(1){ 
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .5s;
	background: #000000;  
}


.tryme span:nth-child(3){
	bottom:0;
	left: 0;
	transform-origin: left; 
}

.tryme:hover span:nth-child(3){ 
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s;
	background: #000000;  
}










.tryme span:nth-child(2),
.tryme span:nth-child(4)
{
	width: 3px;
	height: 100%;
	background: #79ff4d; 
}

.tryme span:nth-child(2){
	top:0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom; 
}

.tryme:hover span:nth-child(2){ 
	transform: scaleY(1);
	transform-origin: top;
	transition: transform .5s;
	background: #000000;  
}


.tryme span:nth-child(4){
	top:0;
	right: 0;
	transform: scaleY(0);
	transform-origin: top; 
}

.tryme:hover span:nth-child(4){ 
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform .5s; 
	background: #000000; 
}




.reduce{
	-moz-transform: scale(0.8);
-webkit-transform: scale(0.8);
-o-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}







#buttonscontainer{
	margin: 0 auto;
	margin-top: 120px;
}


.loginbutton{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	color: #79ff4d;
	font-size: 17px; 
	line-height: 17px; 
	padding: 15px;
	border-radius: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bolder;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal; font-variant: normal;
	text-transform: none;
	box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
	border: 3px solid #79ff4d;
	display: inline-block;
	background: #FFFFFF;
	background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF 100%);
}

.loginbutton:hover {
background: #4D6F5A; 
}

.loginbutton:active {
background: #4D6F5A;
}


.login{
margin-bottom: 40px;
max-width: 200px;
}








.list-container{
	margin-top: 50px;
}


.list-container a{
	color: black;
}




.list-container a:hover{
	transition: .2s ease ;
	color: white;
	text-shadow: 1px 3px 8px #000000;
	
}


.list{
	margin-top: 15px;
	padding: 10px;
	font-size: 17px;
	font-weight: bold;
	border-radius: 10px 10px 10px 10px;
}


.list:hover{
background: #79ff4d;

}


.label{
	max-width: 35px;
	position: relative;	
	min-height: 35px;
	min-width:  35px;
	float: right;
	top: -7px;
}


.light{
    background: url('light-sturf.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}


.light2{
    background: url('cart0.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}


.light3{
    background: url('two_credit_cards1.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}


.light4{
    background: url('post-sturf.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}


.light5{
    background: url('rent-sturf.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}


.light6{
    background: url('roomie-sturf.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}















.label1{
	max-width: 250px;
	position: relative;	
	min-height: 250px;
	min-width:  250px;
	margin: 0 auto;
}








#light1{
	background: url('light-sturf.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}



#light2{
	background: url('cart0.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}

#light3{
	background: url('two_credit_cards1.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}


#light4{
	background: url('post-sturf.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}


#light5{
	background: url('rent-sturf.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}


#light6{
	background: url('roomie-sturf.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
	border-radius: 50%;
}



.headtext{ 
font-size: 25px;
text-shadow: 5px 4px 3px rgba(0,0,0,0.26);
margin-top: 20px;
font-weight: bolder;
font-family: Verdana, Geneva, sans-serif;
}


#textarea{
	font-size: 18px;
	text-align: center;
	padding-bottom: 30px;
}


.text{
	margin-top: 30px;
	margin-bottom: 50px;
	color: #494949;
	padding-left: 3%;
	padding-right: 3%;
}



























.badge{
	background: black;
	padding: 0px 1px 0px 5px;
	border-radius: 50%;
	position: absolute;
	z-index: 5;
	margin-top: -15px;
	margin-left: -18px;
	font-size: 15px;
}





.topicsentence{
word-spacing: 2px;
color: #79ff4d;
text-decoration: none solid rgb(68, 68, 68);
text-align: center;
margin-top: 60px;
text-transform: uppercase;
font-size: 22px;
line-height: 42px;
letter-spacing: 3px;
font-weight: 200;
font-family: "Comic Sans MS", cursive, sans-serif;
text-shadow: 2px 0px 3px rgba(28,110,164,0.48);
}










#buttonscontainer2{
	margin-top: 150px;
	margin-bottom: 10px;
}


.login{
max-width: 130px;
}


.loginbutton{	
	box-sizing: border-box;
	position: relative;
	width: 100%;
	color: #79ff4d;
	font-size: 17px;  
	padding: 6px;
	border-radius: 50px;
	font-family: "sda Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bolder;
	box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
	border: 3px solid #79ff4d;
	display: inline-block;
	background: #FFFFFF;
	
}

.loginbutton:hover {
background: #4D6F5A; 
}

.loginbutton:active {
background: #4D6F5A;

}









.loginbutton1{	
	position: relative;
	min-width: 200px;
	color: #79ff4d;
	font-size: 15px;  
	padding: 6px;
	border-radius: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bolder;
	box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
	border: 3px solid #79ff4d;
	background: #FFFFFF;
}

.loginbutton1:hover {
background: #4D6F5A; 
}

.loginbutton1:active {
background: #4D6F5A;
}



.chk{

 position: fixed; 
 text-align: right; 
 right: 20px; 
 bottom: 20px; 
 color: transparent; 
 z-index: 1; 
 transition: color .2s ease-in-out; 
 font-family: "Comic Sans MS", cursive, sans-serif;

}

.img:hover .chk, .img.active .chk { color: white;
font-family: "Comic Sans MS", cursive, sans-serif;
 text-shadow: 2px 3px 3px #000000; }





.wrap{
	display: inline-flex;
	 align-items: center


}



/*IMAGE SECTIONS */



.img {
    margin: 50px;
    border: 3px solid #79ff4d;
    width: 170px;
    -webkit-box-shadow: 1px 5px 10px 7px rgba(0,0,0,0.16); 
	box-shadow: 1px 5px 10px 7px rgba(0,0,0,0.16);
	transition: all .3s;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	overflow: hidden;
	display: block;
}	


.img:after { 

z-index: 0;
display: block; 
content: ''; 
width: 200px; 
height: 150px; 
background: #79ff4d; 
position: absolute; 
bottom: -10px; 
left: -10%; 
transform: rotate(-9deg); 
opacity: 0; 
bottom: -175px; 
transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); /* easeInOutBack */ 

} 



.img:hover:after, .img.active:after {

 opacity: 1; 

 bottom: -50px; }




.img:hover {
    border: 2px solid #777;
    -moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
}

.img img {
    width: 100%;
    height: auto;
}



.img h1{
	text-align: right;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
	margin-right: 2px;
}



.desc {
	
    padding: 2px;
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
}

.img p{

	font-size: 10px;
	
	margin-top: 1px;
	margin-bottom: 3px;
	font-weight: bold;
	text-align: right;
	margin-right: 3px;
}


.img:hover img {
opacity: 0.8;
transition: ease-out 3s;

-moz-transform: scale(1.3);
-webkit-transform: scale(1.3);
-o-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}



@media screen and (max-width: 600px){

.wrap{
	width: 100%;
	justify-content: center;
}

.img{
	width: 50%;
	border: 1px solid #79ff4d;

}


.img:after { 
width: 60%; 
height: 150px; 
bottom: -10px; 
left: 15%; 


} 


.img:hover:after, .img.active:after {

 opacity: 1; 
 width: 106%;
 bottom: -50px; 
 left: 0.5%; 
}



}
/*END OF IMAGE SECTIONS*/






.users_count{
	text-align: center;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;	
}



.damn{
	text-align: center;
	font-size: 18px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-bottom: 5px;
	
}








/*style the scrollbar */


/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #79ff4d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
  cursor:pointer;
}

/*end of scrollbar styling  */





/*THIS IS THE SAECTION FOR THOSE THAT ARE NOT AUTHENTICATED*/




body {
	/*--color-text: #fff;
	--color-link: #f0f0f0;
	--color-link-hover: #fff;*/
	--color-text: black;
	--color-link: black;
	--color-link-hover: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	/*min-height: 100vh;*/
	color: #fff;
	color: var(--color-text);
	/*background: linear-gradient(115deg, rgba(86, 216, 228,1) 5%,rgba(159, 1, 234,1) 95%);*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: auto;
	overflow-x:hidden;
}

/*a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}*/

/*a:hover,
a:focus {
	color: var(--color-link-hover);
}

a:focus,
button:focus {
	outline: none;
}*/

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
	
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--keyboard {
	display: none;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
	

}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header ...'
	'... ...'
	'github demos';
	overflow: auto;
}

.content--fixed a {
	pointer-events: auto;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 0.75em 0;
}

.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}

.github {
	display: block;
	align-self: end;
	grid-area: github;
	justify-self: start;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

@media screen and (max-width: 55em) {
	body {
		overflow: auto;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.info {
		margin: 0;
	}
	.github {
		display: block;
		margin: 1em auto;
	}
	.codrops-links {
		margin: 0;
	}
}
.pieces-slider {
	position: relative;
	text-align: center;
	padding: 8rem 0;
}

.js .pieces-slider {
	padding: 0;
}

/* Make all slides absolutes and hide them */
.js .pieces-slider__slide {
	position: absolute;
	right: 100%;
}

/* Define image dimensions and also hide them */
.pieces-slider__image {
	max-width: 600px;
	max-height: 400px;
}

.js .pieces-slider__image {
	visibility: hidden;
}

/* Hide the titles */
.js .pieces-slider__text {
	text-indent: -9999px;
}

/* Canvas with viewport width and height */
.js .pieces-slider__canvas {
	position: relative;
	width: 100vw;
	height: 100vh;
	transition: 0.2s opacity;
}

/* Class for when we resize */
.pieces-slider__canvas--hidden {
	opacity: 0;
	transition-duration: 0.3s;
}

/* Navigation buttons */
.pieces-slider__button {
	position: absolute;
	left: 0;
	top: 50%;
	width: 80px;
	height: 80px;
	margin: -25px 0 0 0;
	background-color: transparent;
	border-radius: 0;
	color: #fff;
	font-family: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.1s background-color;
	outline: none;
}

.pieces-slider__button:hover {
	background: #79ff4d;
	color: #79ff4d;
}

.pieces-slider__button:hover svg{
	fill: white;

}


.pieces-slider__button--next {
	left: auto;
	right: 0;
}

/* Hide the buttons when no JS */
.no-js .pieces-slider__button {
	display: none;
}

/* Media queries with styles for smaller screens */
@media screen and (max-width: 720px) {
	.pieces-slider__image {
		max-width: 300px;
	}
}

@media screen and (max-width: 55em) {
	.pieces-slider__canvas {
		width: 100vw;
		height: 100vw;
	}
	.pieces-slider__button {
		width: 60px;
		height: 60px;
	}
}




/*END OF UNAUTHENTICTED USERS SECTION*/





/*social media share section*/

#feedback_container{
	margin-bottom: 50px;
	margin-top: 200px;
	justify-content: center;
}

.penny{
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 200;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 2px 0px 3px rgba(28,110,164,0.48);
  color: #79ff4d;
}

.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 50%;
    height: 20px;
    margin-top: 20px;


}

.pen{

	text-align: center;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    padding: 0px;
    -webkit-box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.11); 
	box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.11);

/*    border:1px solid #79ff4d;*/
}


.pen svg{

	margin-top: 10%;

/*    border:1px solid #79ff4d;*/
}


/*.bgimage{
	vertical-align: center;
	width: 100%;
	height:100%;
	border-radius: 50%;

}*/


.pen:hover{
	-webkit-box-shadow: 5px 5px 37px 0px #79FF4D; 
box-shadow: 5px 5px 37px 0px #79FF4D;
	transition: all .3s;
	-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
border: none;
}



/*end of social media share section*/





.bottomsentence{
margin-top: 120px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #79ff4d;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-align: center;

}








.add_post_link{
padding: 8px 5px 5px 2px; 

border-radius: 50%; 

position: fixed; 

bottom: 1%;

background: white;

border: 1px solid #79ff4d;

outline: none;
transition: all ease .5s;

margin-left: 90%;

-webkit-box-shadow: -8px 4px 20px 5px rgba(0,0,0,0.1); 
box-shadow: -8px 4px 20px 5px rgba(0,0,0,0.1);


}


.add_post_link:hover{
background: #79ff4d ;
}


.add_post_link:hover svg{
fill: white;
}
















/*Bio section*/
.bio{
	background-color: none;
	padding-bottom: 160px;
	border-radius: 20px 20px 20px 20px;
	border: 0.5px solid #79ff4d;
	margin-bottom: 150px;
}




 .bio-content p{
 font-family: "Comic Sans MS", cursive, sans-serif;
 font-size: 15px;
 max-width: 100%;
 text-align: right;
margin-bottom: 40px;
 padding: 0px 11px 11px 0px;
 
 text-transform: uppercase;
 font-weight: bold;
 transition: all .5s;

}

.bio-content .image{
	border-radius: 5px 150px 150px 150px ;
	float: left;
}


.bio-content a:visited{	
color: black;
}





.icon{
	position: relative;
    font-size: 13px;
    font-style: normal;
    color: #79ff4d;
    text-shadow: 2px 3px 2px #000000;
    float: left;
    margin-right: 10px;

 
}



.wrapper{
	margin-bottom: 10px;
	transition: .4s ease;
	border-radius: 0px 10px 10px 10px;
}



.wrapper:hover{
	background: #79ff4d;

}


.wrapper:hover .icon{
	color: white;

}

.wrapper:hover > .immage{
	
transform: scale(1.5);
}


 .date {
	float: right;
	font-size: 15px;
	font-family:  sans-serif;	
	padding: 5px 8px 5px 8px;
	border: 1px solid  #79FF4D;
	border-radius: 50px;
	background: white;
	outline: none;
	cursor: pointer;

}


 .date:hover {
 	color: #79FF4D;;
	border: 1px solid black ;
	background: #4D6F5A;
	outline: none;
	cursor: pointer;

}


/*end of bio section*/








select {
    padding: 3px 5px;
    border-radius: 50px;
    background-color: #ffffff;
    outline:none;
    transition:.3s;
    margin-top: 2px;
}

select option{
    background-color: #79ff4d;

}



select:hover{
    border: 2px solid #79ff4d;
}


/*end of select fields group*/











/*footer section*/

#footer{
	min-height:300px;
	font-family: cursive, sans-serif;
	background: #FFFFFF;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #000000;
	position:relative;
	border-radius: 15px 0px 15px 0px;
	box-shadow: 8px -3px 29px 0px #000000;
	margin-top: 200px;
	justify-content: space-between;
}



.footerians{
	display: inline-grid;
	position: relative;
	width: 60px;
	height: 250px;
	background: #79ff4d;
	max-height: 200px;
	min-height: 200px;
	transition: all .4s ease;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align:left; 
	border-radius: 0px 0px 22px 0px;
}



.footerians header{
	width: 250px;
	height: 70px;
	font-size: 17px;
	color: #000000;
	text-align: left;
	line-height: 70px;
	background: none;
	user-select: none;
	transition: all .6s ease;
	border-radius: 0px 50px 50px 0px;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.footerians ul a{
	margin-top: 10px;
	display: block;
	height: 100%;
	width: 10px;
	line-height: 50px;
	font-size: 24px;
	color: #79ff4d;
	padding-left: 20px;
	box-sizing: border-box;
	transition: .3s;
}

.footerians ul li:hover a{
	padding-left: 70px;
}

.footerians ul a {
	margin-right: 0px;
}
.footerians ul {
width: 20px;
}


/*.img{
	margin-right: 10px
}*/

.case1,.case2,.case3,.case4{
	border-radius: 50%;
	box-shadow: 6px 5px 7px 0px rgba(0,0,0,0.7);
	vertical-align: center;
	background-size: contain;
	max-height: 25px;
	min-height: 25px;
	max-width: 25px;
	min-width: 25px;
	width: 25px;
	height: 25px;
	padding-top: 1%;
	border-radius: 50%;
	border: 3px solid #FFFFFF;

}

.case1{
	background: url('facebook.png') no-repeat center;
}

.case2{
	background: url('twitter.png') no-repeat center;
}

.case3{
	background: url('linkedin.png') no-repeat center;
}

.case4{
	background: url('instagram.png') no-repeat center;
}



.linkr{
color: #ffffff;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}


.linkr2{
color: #000000;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}


.links {
	position: relative;
	display: inline-flex;
	margin-left: 20%;
}

.links ul a{
	margin-top: 0px;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 25px;
	font-size: 14px;
	color: #ffffff;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.copyright{
	position: relative;
	display: inline-table;
	max-width: 500px;
	float: right;
	font-size: 10px; 
	margin-top:20px; 
}

.t_and_t{
	position: relative;
	display: inline-flex;
	margin-left: 20%;
	font-size: 14px;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
	line-height: 40px;
	margin-bottom: 25px;
}

.t_and_t ul a{

color: #ffffff;
	
}

/*end of footer section*/




.list-container,
#menu,
#body,
#advertisement,
#textarea,
.refresh,
.container,
#buttonscontainer,
.section,
.tryme,
.textarea,
.penny,
#feedback_container,
.bottomsentence,
.penny-container,
.icon{
	margin-left: 5%;
	margin-right: 5%;
}




.section1,.section,.bio,.contact{
	margin-left: 5%;
	margin-right: 5%;
}



.bio-content{
	margin-left: 7%;
	margin-right: 7%;
}







/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------MEDIA QUERIES--------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/














/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL HEADERS ONLY------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


/*------------------------------------------------------
--------------------MEDIA SCREEN 600--------------------
--------------------------------------------------------*/


/*---------------HEADER-------------*/
@media screen and (max-width: 600px){
#header{
	min-height: 50px;
	height: 50px;
	border-radius: 0px;
	font-size: 25px;
}

#headtext{
	display: none;
}

.header_link{
padding-bottom: 15px;
border-radius: 0px 0px 30px 30px;
}

}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600-------------
--------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL HEADERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/









/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL FOOTERS ONLY------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/



/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 800--------------------
--------------------------------------------------------*/


@media screen and (max-width: 800px){
.footerians header{
	font-size: 12px;
	color: #000000;
}

.links {
	margin-left: 20%;
}


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 800-------------
--------------------------------------------------------*/


/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 600--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 600px){

.footerians header{
	font-size: 12px;
}

.copyright{
	max-width: 250px;
}

#footer{
	min-height: 500px;
}

.links {
	margin-left: 60%;
}

.t_and_t{
	margin-left: 40%;
}

}

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600--------------------
--------------------------------------------------------*/



/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 346--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 346px){
.t_and_t{
	margin-left: 22%;
}

.footerians header{
	font-size: 10px;
}
}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 346---------------
--------------------------------------------------------*/




/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 320--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 320px){
.footerians header{
	font-size: 10px;
}

.copyright{
	max-width: 150px;
}

#footer{
	min-height: 600px;
}


.t_and_t{
	margin-left: 23%;
}

}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 320--------------
--------------------------------------------------------*/



/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 240--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 240px){
.t_and_t{
	margin-left: 30%;
}
}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 240--------------
--------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL FOOTERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/




































/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL OTHERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


/*------------------------------------------------------
--------------------MEDIA SCREEN BACK BUTTON 600--------
--------------------------------------------------------*/


/*---------------BACK BUTTON-------------*/
@media screen and (max-width: 600px){

label #btn{
	left: 5px;
	top: -20px;
	font-size: 40px;
}

}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600-------------
--------------------------------------------------------*/




/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL OTHERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


















































































/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------SOCIAL MEDIA LINKS ONLY-----------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

@media screen and (max-width: 568px){


.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 60px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
}




@media screen and (max-width: 478px){


.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 55px;
    width: 55px;
    height: 55px;
    margin-right: 10px;
}
}




@media screen and (max-width: 432px){


.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
}


@media screen and (max-width: 384px){


.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
}

@media screen and (max-width: 360px){


.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 36px;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
}


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------END OFSOCIAL MEDIA LINKS ONLY-------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/










@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}

@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
}