 * {
    box-sizing: border-box;
    font-family: sans-serif;
}



/*Header text Animation*/


@keyframes textAnime
    {
      10%  {margin-right: 80px;   opacity: 70%; text-shadow: 2px 1px 2px #F7F7F7; filter: alpha(opacity= 1); opacity: 0.5;}
      20%  {margin-right: -80px;   opacity: 40%; text-shadow: 2px 1px 2px #F7F7F7; color: #ffffff; filter: alpha(opacity= 1); opacity: 0.5; }
      30%  {margin-right: 80px;   opacity: 30%; text-shadow: 2px 1px 2px #F7F7F7;  color: #ffffff; filter: alpha(opacity= 1); opacity: 0.5;}
      40%  {margin-right: -80px;   opacity: 20%; text-shadow: 2px 1px 2px #F7F7F7; color: #ffffff; filter: alpha(opacity= 1); opacity: 0.5; }
      50%  {margin-right: 80px;   opacity: 10%; text-shadow: 2px 1px 2px #F7F7F7;  color: #ffffff;filter: alpha(opacity= 1); opacity: 0.5; }
      60%  {margin-right: -80px;   opacity: 5%; text-shadow: 2px 1px 2px #F7F7F7; filter: alpha(opacity= 1); opacity: 0.5; }
      70%  {margin-right: 80px;   opacity: 1%; text-shadow: 2px 1px 2px #F7F7F7;filter: alpha(opacity= 1); opacity: 0.5; }
      100%  {margin-right: -80px;   opacity: 100%; text-shadow: 2px 1px 2px #F7F7F7; filter: alpha(opacity= 1); opacity: 0.5;}
      /*100%  {margin:0 auto;   transition: none ; }
*/
      
     
    }

    @-webkit-keyframes colorAnime /*Safari and Chrome - necessary duplicate*/ 
    {
      /*  0%   {background: rgb(46, 46, 46);}
        25%  {background: rgb(41, 90, 131);}
        50%  {background: rgb(20, 100, 153);}
        75%  {background: rgb(62, 46, 100);}
        100% {background: rgb(46, 46, 46);}*/
}



/*Background Color Animation*/

@keyframes colorAnimate
    {
      0%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 100%, #79FF4D 100%);}
      0.25%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 99.85%, #79FF4D 100%);}
      0.5%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 99.75%, #79FF4D 100%);}
      0.75%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 99.5%, #79FF4D 100%);}
      1%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 99.25%, #79FF4D 100%);}
      1.25%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 99%, #79FF4D 100%);}
      1.5%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 98.75%, #79FF4D 100%);}
      1.75%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 98.5%, #79FF4D 100%);}
      2%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 98.25%, #79FF4D 100%);}
      2.25%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 98%, #79FF4D 100%);}
      2.5%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 97.75%, #79FF4D 100%);}
      2.75%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 97.5%, #79FF4D 100%);}
      3%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 97.25%, #79FF4D 100%);}
      3.25%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 97%, #79FF4D 100%);}
      3.5%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 96.75%, #79FF4D 100%);}
      3.75%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 96.25%, #79FF4D 100%);}
      4%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 96%, #79FF4D 100%);}
      4.25%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 95.75%, #79FF4D 100%);}
      4.5%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 95.5%, #79FF4D 100%);}
      4.75%   {background: linear-gradient(65deg, #79FF4D 0%, #91CE9F 95.25%, #79FF4D 100%);}


      5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 95%, #79FF4D 100%);}
      7.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 92.5%, #79FF4D 100%);}
      10%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 90%, #79FF4D 100%);}
      12.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 87.5%, #79FF4D 100%);}
      15%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 85%, #79FF4D 100%);}
      17.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 82.5%, #79FF4D 100%);}
      20%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 80%, #79FF4D 100%);}
      22.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 77.5%, #79FF4D 100%);}
      25%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 75%, #79FF4D 100%);}
      27.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 72.5%, #79FF4D 100%);}
      30%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 70%, #79FF4D 100%);}
      32.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 67.5%, #79FF4D 100%);}
      35%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 65%, #79FF4D 100%);}
      37.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 62.5%, #79FF4D 100%);}
      40%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 60%, #79FF4D 100%);}
      42.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 57.5%, #79FF4D 100%);}
      45%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 55%, #79FF4D 100%);}
      47.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 52.5%, #79FF4D 100%);}
      50%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 50%, #79FF4D 100%);}
      52.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 47.5%, #79FF4D 100%);}
      55%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 45%, #79FF4D 100%);}
      57.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 42.5%, #79FF4D 100%);}
      60%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 40%, #79FF4D 100%);}
      62.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 37.5%, #79FF4D 100%);}
      65%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 35%, #79FF4D 100%);}
      67.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 32.5%, #79FF4D 100%);}
      70%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 30%, #79FF4D 100%);}
      72.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 27.5%, #79FF4D 100%);}
      75%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 25%, #79FF4D 100%);}
      77.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 22.5%, #79FF4D 100%);}
      80%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 20%, #79FF4D 100%);}
      82.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 17.5%, #79FF4D 100%);}
      85%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 15%, #79FF4D 100%);}
      87.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 12.5%, #79FF4D 100%);}
      90%  {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 10%, #79FF4D 100%); }
      92.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 7.5%, #79FF4D 100%);}
      95%  {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 5%, #79FF4D 100%); }
      97.5%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 2.5%, #79FF4D 100%);}
      98%  {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 2%, #79FF4D 100%); }
      99%   {background: linear-gradient(45deg, #79FF4D 0%, #91CE9F 1%, #79FF4D 100%);}
      100%  {background: linear-gradient(45deg, #79FF4D 50%, #91CE9F 100%, #79FF4D 100%);;}
    }

    @-webkit-keyframes colorAnimate /*Safari and Chrome - necessary duplicate*/ 
    {
       /* 0%   {background: rgb(46, 46, 46);}
        25%  {background: rgb(41, 90, 131);}
        50%  {background: rgb(20, 100, 153);}
        75%  {background: rgb(62, 46, 100);}
        100% {background: rgb(46, 46, 46);}*/
}

html, body {
    font-family: sans-serif;
    font-size: 100%;
}

html, body, .wrapper, .sct {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #79ff4d;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    color: #79ff4d;
}

input:active,
input:focus,
input:visited,
input:hover {
    outline: none;
}

input[type="text"],
.email,
input[type="number"],
.passwordbox
 {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    background: #fff;
    border: 1px solid rgb(212, 212, 212);
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(78, 78, 78);
    border-radius: 50px;
    transition: all .9s;
}

.email:hover,
.passwordbox:hover{
    border: 2px solid #79ff4d;
    transition: all .2s;
}

label{
    font-family: "Comic Sans MS";
    color: black;

}


.text-center {
    text-align: center;
}

form > h3 {
    text-align: center;
}



.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "centerLeft centerRight";
}

.sct {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand { 
    grid-area: centerLeft;
    background-color: #79ff4d;
    animation: colorAnimate 8s ease-in-out;
    animation-iteration-count: infinite;
    transition: all ease .9s;
}

.brand > h3 {
    padding: .75rem;
    font-weight: 800;
    min-height:100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 6px;
    color: #ffffff;
    height:200px; 
    text-shadow: 8px 7px 3px rgba(43,60,44,0.71);   
}

.brand spanner{
     z-index: -1;
     color: black;

}

.spanner{
    display: inline;
    align-items: center;
    justify-content: center;
   
}

.spanner > h3{
    
    animation-timing-function: ease;
    animation: textAnime .1s;
    animation-delay: 2s;
    animation-iteration-count: 17;
    padding: .75rem;
    font-weight: 800;
    min-height:100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 45px;
    letter-spacing: 6px;
    color: #ffffff;
    height:200px; 
    text-shadow: 8px 7px 3px rgba(43,60,44,0.71);
    position: static;
}

.login {
    grid-area: centerRight;
}

.login > form {
    width: 400px;
    margin: 0 3rem;
}


.forgot-remember {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
/*Checkbox*/

.control {
    float: right;
    position: relative;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 17px;
   
}

.control label{
    color: black;
    font-family: arial;
}







.btn{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    color: #79ff4d;
    font-size: 17px; 
    line-height: 17px; 
    padding: 15px;
    border-radius: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal; font-variant: normal;
    border: 2px solid #79ff4d;
    display: inline-block;
    background: white;
    transition: .3s all ease;
}



.btn:hover{
    background: #4D6F5A;
}



.cls{
    color: #79ff4d;
    margin-left: 12px;
    font-size: 22px;
}


.copyright{
    max-width: 500px;
    font-size: 7px; 
    margin-top:100px;
}


/*message flashes*/
li{
    list-style: none;
    border: 2px solid black;
    border-radius: 25px;
    color: white;
    background: black;
    margin-top: 6px;
    padding: 5px;
}



li.info{
  /* padding: 10px;*/
   width: 92%;
   text-align: center;
   font-size: 16px ;
   font-weight: bold;
   font-family: "Comic Sans MS"
}


li.info:marker{
    display: none;
}

.show{
    border: 2px solid #79ff4d;
    padding: 5px;
    border-radius: 50%;
    width: 5%;
}

ul.flashes{
  margin-bottom: 6px;
  justify-content: center;
  align-content: center;
}









/*----------MEDIA QUERIES--------------*/
@media (max-width: 768px) {
    .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20%, 80vmax);
    grid-template-areas: 
                        "centerLeft"
                        "centerRight";
    }

  

    .login > form {
        width: 100%;
        margin: 0 3rem;
    }

    .login form{
      margin-top: 90%;
    }


    .spanner > h3{
    min-height:70px;
    font-size: 35px;
    height:80px; 
}


.brand {
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 5px;
    
    -webkit-border-radius: 25px 0px 025px 0px;
border-radius: 25px 0px 025px 0px;
border-right: 5px double #ffffff;
border-bottom: 5px double #ffffff;

}



@media (max-width: 500px) {
.login > form {
        width: 100%;
        margin: 0 3rem;
         margin-top: 90%;
    }




.control {
font-size: 12px;
   
}
.forgot a{
    font-size: 12px;
}

}
/*END OF QUERIES*/




@viewport{
  zoom:1.0;
  width:extend-to-zoom;
}

@-ms-viewport{
  width:extend-to-zoom;
  zoom:1.0;
}