/*beginning of splash screen */


.word {
	perspective: 1000px; 
	padding: 5px;
}



.word > .container { 	
	 	 	 font-size: 100px; 	
	 	 	 user-select: none; 	
	 	 	 line-height: .8; 
			 animation: falling  1.5s ease-out; 	
			 animation-delay: 1s;
			 background-color: #79ff4d; 	
			 color: #fff; 	
			 display: flex; 	
  			 justify-content: center; 	
  			 align-items: center; 	
  			 flex-direction: row; 	
  			 height: 96vh; 	
  			 margin: 0;
  			 background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%) ;
  			 position: relative;
  			 border-radius: 10px;
} 



.word h3{
	 
	 	 	 user-select: none; 	
	 	 	 line-height: .8; 
			 animation: standing  2s ease-out; 	
			 animation-delay: 1.2s;
			 max-height: 180px;
			 color: #fff; 	
			 display: flex; 	
			 font-family: cursive; 
  			 justify-content: center; 	
  			 align-items: center; 	
  			 flex-direction: row; 	
  			 height: 96vh; 	
  			 margin: 0;
			font-size: 28px;
			letter-spacing: 6px;
			font-weight: 700;
			text-decoration: none solid rgb(68, 68, 68);
			color: #ffffff;
			font-weight:bold;
			text-align:center;
			text-shadow: 8px 7px 3px rgba(43,60,44,0.71);
			position: relative;
			overflow: hidden;
	


}



.container  span{
			 min-width: 150px;
			 min-height: 15px;	
			 display: flex;
  			 justify-content: center; 	
  			 align-items: center; 	
  			 margin: 0 auto;
			 position: absolute;
			 padding-top: 35px;
			 background: linear-gradient(90deg, transparent, #EFFFCA, transparent);
			 transform: skewX(-35deg);
			 right: -120%;
			 border: 1px hidden #fff;
			 animation: shine .8s; 	
			 animation-delay: 3s;
			 animation-iteration-count: 2s;
			 animation-direction: alternate-reverse;
		
}



@keyframes falling { 	12% { 		transform: rotateX(240deg); 	} 	 	
						24% { 		transform: rotateX(150deg); 	} 	 	
						36% { 		transform: rotateX(200deg); 	} 	 	
						48% { 		transform: rotateX(175deg); 	} 	 	
						60%, 85% { 	transform: rotateX(180deg); 	} 	 	
						100% { 		transform: rotateX(0deg); 	} } 



@keyframes standing { 	12% { 		  transform: rotateX(0deg);	} 	 	
						24% { 		transform: rotateX(180deg); 	} 	 	
						36% { 		 transform: rotateX(175deg); 	} 	 	
						48% { 		 transform: rotateX(200deg); }	 	
						60%{ 		  transform: rotateX(150deg);	} 	 	
						100% { 		 transform: rotateX(0deg); 	} } 


@keyframes shine { 	100% { 		  right:100%; transition: .3s;	} } 


/*end of splash screen*/











@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}

@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
}