<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Your next apartment is clicks away</title>

	<link href="{{url_for('rent.static', filename='rent.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >


	<script type="text/javascript">

    function back(){
    	history.back();
    }
	
	</script>



</head> 





<body> 




<div id = "header">

	<label for="check">
		<buttom  id="btn" type="button" onclick="back()";>&#10095;</button>
	</label>


		
	STURF

	<div class="headtext">
		Improving your wellbeing <span class="dots">...</span>
	</div>


</div>




<form class="example">

	 <input class="input" type="text" name="search" placeholder="Search by Location...">
	 <button type="submit"><i class="icon">&#8981;</i></button>

</form>












<div class = "topicsentence">
		<center> 
			Find the apartment of your dreams..
		</center>
</div>








<div id = "advertisement">
		<center> AD</header>
</div>
















<center>
<div class = "section1">


			<div class="text_container">
				HOUSE FOR RENT IN 

			</div>

			<main class = "label1">
				<div class = "light" /></div>
			</main>

			
</div>
</center>







<center>
<div class = "section1">


			<div class="text_container">
				HOUSE FOR RENT IN 
			</div>

			<main class = "label1">
				<div class = "light" /></div>
			</main>

			
</div>
</center>










<center>
<div class = "section1">


			<div class="text_container">
				HOUSE FOR RENT IN 
			</div>

			<main class = "label1">
				<div class = "light" /></div>
			</main>

			
</div>
</center>







<center>
<div class = "section1">


			<div class="text_container">
				HOUSE FOR RENT IN 
			</div>

			<main class = "label1">
				<div class = "light" /></div>
			</main>

			
</div>
</center>














<div id = "advertisement">
		<center> AD</header>
</div>







<center>
<div class = "section1">


			<div class="text_container">
				HOUSE FOR RENT IN 
			</div>

			<main class = "label1">
				<div class = "light" /></div>
			</main>

			
</div>
</center>






<center>
<div class = "section1">


			<div class="text_container">
				HOUSE FOR RENT IN 
			</div>

			<main class = "label1">
				<div class = "light" /></div>
			</main>

			
</div>
</center>









</body>



<footer id = 'footer'>



<div class="footerians">
	<header><span style="margin-right: 5px; color: #ffffff; font-size: 25px;">☎</span>Get in touch with us</header>

	<ul>

	<li><a href="#"><div class="case1"></div></a></li>
	<li><a href="#"><div class="case2"></div></a></li>
	<li><a href="#"><div class="case3"></div></a></li>
	<li><a href="#"><div class="case4"></div></a></li>

	</ul>
	

</div>



<div class="t_and_t">
	<ul>
	<li><a href="#">Terms and conditions</a></li>
	<li><a href="#">what more can we do?</a></li>
	<li><a href="#">Ad policy</a></li>
	</ul>
</div>


	

<div class="links">
	<ul>
	<li><a href="#">Home</a></li>
	<li><a href="#">Electricity</a></li>
	<li><a href="#">History</a></li>
	<li><a href="#">About Us</a></li>
	<li><a href="#">FAQS</a></li>
	</ul>

</div>


	
<div class="copyright">
	Copyright &copy; 2020-2025 STURF
	All rights reserved.
	STURF is among the federally registered trademarks of
    STURF LLC and may not be used by third parties without explicit permission.


</div>





	
</footer>




</html>