
{% if posts.total == 0 %}


	{% if val == "others" %}

			<center class = "pennyless" style = "font-size: 19px;">

			nobody is trying to claim anything you posted

			</center>

				
		<br>
		<br>
		<br>
		<br>
		<br>

	{% elif val == "mine" %}



			<center class = "pennyless" style = "font-size: 19px;">

			You are not trying to claim any lost items

			</center>

				
		<br>
		<br>
		<br>
		<br>
		<br>

	{% endif %}	


{% else %}	





<div class = "topicsentence">






		<center class = "pennyless">

				  





			

	{% if val == "others" %}


				 <span style="color: black;">


						{{ posts.total }} 

					</span>




						{% if posts.total == 1 %}

						attempt

						{% else  %}

						attempts

						{% endif %}




						{% if posts.total == 1 %}

						has

						{% else  %}

						have

						{% endif %}



						been made to claim


						{% if posts.total == 1 %}

						your post 

						{% else  %}

						your posts

						{% endif %}


						<br>
						<br>	
				</center>
		</div>



	{% elif val == "mine" %}


					You've made


				 	<span style="color: black;">


						{{ posts.total }} 

					</span>




						{% if posts.total == 1 %}

						attempt

						{% else  %}

						attempts

						{% endif %}



						to claim


						{% if posts.total == 1 %}

						an item 

						{% else  %}

						some items

						{% endif %}


						<br>
						<br>	
				</center>
		</div>
		

{% endif %}


{% endif %}















{% if posts.total == 0  %}




<div class="bio" style="padding-bottom: 20px; padding-top: 20px;">

		<div class="bio-content">
			

			<center>
			<svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 48 48"><path d="M24 12c7.73 0 14 6.27 14 14 0 1.69-.31 3.3-.86 4.8l3.04 3.04C41.34 31.47 42 28.81 42 26c0-9.94-8.06-18-18.01-18-2.81 0-5.46.66-7.84 1.81l3.05 3.05c1.5-.55 3.11-.86 4.8-.86zm20-.56l-9.19-7.71-2.57 3.06 9.19 7.71L44 11.44zM5.84 4.59L3.29 7.13l2.66 2.66-2.22 1.86 2.84 2.84 2.22-1.86 1.6 1.6C7.66 17.39 6 21.5 6 26c0 9.94 8.04 18 17.99 18 4.51 0 8.62-1.67 11.77-4.4l4.4 4.4 2.54-2.55L7.79 6.54 5.84 4.59zm27.1 32.19C30.51 38.79 27.4 40 24 40c-7.73 0-14-6.27-14-14 0-3.4 1.21-6.51 3.22-8.94l19.72 19.72zM16.03 6.55l-2.84-2.84-1.7 1.43 2.84 2.84 1.7-1.43z"/></svg>


			</center>




				



</div>


</div>



{% else %}	





{% if val == "mine" %}





<div class="bio">
	<br>
	<br>


		<div class="bio-content">
			
				{% for post in posts.items %}

				{% set post_author = current_user.claimer_author_instance(post.author_id) %}

					<div class="wrapper">




						<a style="color: black;" href="{{url_for('post.view_claimer_page', post_id = post.post_id, claimer_id = post.author_id )}}">



								{% set new_messages = current_user.specific_new_claimer_messages_from(post_author, post.post_id) %}

                    			{% if new_messages %}

									<p class="message_badge" style="float: left; background: #79ff4d; padding: 2px 4px 3px 4px; ; color: white; border-radius: 50%; position: absolute; margin-top:  -19px; margin-left:  -12px;">

		                    			{{ new_messages }}

									</p>
                   			
                    			{% endif %}


							



							<p style="color: black;">

								<span style="text-transform: lowercase; font-size: 10px; float: left;">

								 Item finder </span>

								{{post_author.first_name}} {{post_author.last_name}}

								<img style="margin-left: 10px; " class="image"  src="{{url_for('static', filename='profile_pics/uploads/' + post_author.image_file)}}" alt="{{post_author.first_name}}" width="35" height="35">









								<div style="font-size: 10px;" class="date">
								 {{post.date_of_application.strftime("%a, %d %b %Y")}}
								</div>





								<span style="color: green; font-weight: bold; font-size: 12px;">{{ post.item_category}} </span>






								
							</p>


							


						</a>

					</div>
				{% endfor %}



		</div>
</div>


{% elif val == "others" %}





<div class="bio">
	<br>
	<br>


		<div class="bio-content">
			
				{% for post in posts.items %}
					<div class="wrapper">


{% set post_author_instance = current_user.claimer_author_instance(post.claimer_id) %}


						<a style="color: black;" href="{{url_for('post.view_claimer_page', post_id = post.post_id, claimer_id = post.claimer_id )}}">




								{% set new_messages = current_user.specific_new_claimer_messages_from(post_author_instance, post.post_id) %}

                    			{% if new_messages %}

									<p class="message_badge" style="float: left; background: #79ff4d; padding: 2px 4px 3px 4px; ; color: white; border-radius: 50%; position: absolute; ">
		                    			{{ new_messages }}
									</p>
                   			
                    			{% endif %}
							



							<p style="color: black;">

								{{ post.claimer_name }}

								<img style="margin-left: 10px; " class="image"  src="{{url_for('static', filename='claimers/' + post.claimer_profile_pic )}}" alt="{{post.claimer_name}}" width="35" height="35">









								<div style="font-size: 10px;" class="date">
								 {{post.date_of_application.strftime("%a, %d %b %Y")}}
								</div>





								<span style="color: green; font-weight: bold; font-size: 12px;">{{ post.item_category}} </span>






								
							</p>


							


						</a>

					</div>
				{% endfor %}



		</div>
</div>

{% endif %}





{% endif %}