<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content = "width = device-width, initial-scale = 1" >

    <link href="{{url_for('post.static', filename='post-page-jq.css' )}}" rel="stylesheet" type="text/css" />

    <title>post page with jquery test </title>
    <script >
        function back(){
            history.back()
        }

    </script>

</head>













<body>

<!-- header section -->






<div id = "header">

    <label>
        <button  id="back" type="button" onclick="back()";>&#10094;</button>
    </label>


        
    <a class="header_link" href="{{url_for('home.general')}}">  
    STURF
    </a>


    <!----------- REPORT BUTTON ---------------->
    <input type="checkbox" id="check">

    <label for="check">
        <i  id="btn">&#10011;</i>
        <i  id="cancel">╳</i>
    </label>





    <div class="sidebar">

                    

    <ul>



 <li >


            <button class="dropdown-btn">
                <i style="font-style: normal;
               
                 ">

                &#9986;

                </i>

                Filter

            </button>


              <div class="dropdown-container-a">



                <button class="dropdown-btn" style="color:black; font-size:17px;  text-align: right; font-family:  sans-serif;">Normal</button>
                      <div class="dropdown-container">

                      <button class = "droplink_normal" page = '{{ page }}' post_type = 'normal' > Normal posts </button>

                      </div>




                <button class="dropdown-btn" style="color:black; font-size:17px;  text-align: right; font-family:  sans-serif;"> Followed Posts </button>
                      <div class="dropdown-container">

                      <button class = "droplink_followed" page = '{{ page }}' post_type = 'followed' > Followed posts </button>

                      </div>



              </div>

        </li>







    {% if  current_user.generic or current_user.paid %}

        <li>
            <a  href="{{url_for('post.post_type')}}">

                <i style="font-style: normal;font-size: 30px; margin-right: 0px; ">&#9997;</i>

                 New Post

            </a>

        </li>

        {% else %}


        <li>
            <a  href="{{url_for('post.post_payment_page')}}">

                <i style="font-style: normal;font-size: 30px; margin-right: 0px; ">&#9997;</i>

                 I want to post

            </a>

        </li>

        
    {% endif %}



        <li>   
            <a  href="{{url_for('post.post')}}">

                <i style="font-style: normal;font-size: 30px; margin-right: 0px; ">&#9997;</i>

                 Explore

            </a>

        </li>




        <li>    
            <a  href="{{url_for('post.post', page = 1, post_type = 'followed')}}">

                <i style="font-style: normal;font-size: 30px; margin-right: 0px; ">&#9997;</i>

                 Followed

            </a>

        </li>




        <li>    
            <a  href="{{url_for('post.my_posts', page = 1, email = current_user.email )}}">

                <i style="font-style: normal;font-size: 30px; margin-right: 0px; ">&#9997;</i>

                 My posts

            </a>

        </li>





        

{% if not current_user.paid %}
    <li>
        <a style="color: gold;" href="{{url_for('post.post_payment_page')}}">

            <i style="font-style: normal;font-size: 30px; margin-right: 0px; color: gold;">&starf;</i>

        VIP

        </a>

    </li>
{% endif %}


    <li>
        <a href="{{url_for('help.index')}}">
            <i style="font-style: normal;">&#10067;</i>

        Help 

        </a>

    </li>


    </ul>
            
            

    </div>

<!----------- END OF REPORT BUTTON ---------------->







    <div id="headtext">
        Improving your wellbeing <span class="dots">...</span>
    </div>


</div>







{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        <ul class=flashes>

        {% for category, message in messages %}
            <center>

            <li class="{{ category }}">
                {{ message }}
            </li>

            </center>
        {% endfor %}

        </ul>
        
    {% endif %}
{% endwith %}

























{{ query }}





{{ page }}
















<script src="{{url_for('static', filename='jquery-3.5.1.min.js' )}}"></script>
<script src="{{url_for('post.static', filename='post-page-section.js' )}}"></script>







<!-- javascript handling the dropdown menu -->
<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>


<!-- ..............................footer............................ -->

<footer id = 'footer' style="margin-top: 80%">



<div class="footerians">
    <header><span style="margin-right: 5px; color: #ffffff; font-size: 25px;">☎</span>Get in touch with us</header>

    <ul>

    <li><a href="#"><div class="case1"></div></a></li>
    <li><a href="#"><div class="case2"></div></a></li>
    <li><a href="#"><div class="case3"></div></a></li>
    <li><a href="#"><div class="case4"></div></a></li>

    </ul>
    

</div>



<div class="t_and_t">
    <ul>
    <li><a href="#">Terms and conditions</a></li>
    <li><a href="#">what more can we do?</a></li>
    <li><a href="#">Ad policy</a></li>
    <li><a href="#">Content policy</a></li>
    </ul>
</div>


    

<div id="links">
    <ul>
    <li><a href="#">Home</a></li>
    <li><a href="file:///C:/Users/SIMON/Documents/site%20work/site/Electricity.html">Electricity</a></li>
    <li><a href="#">History</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">FAQS</a></li>
    <li><a href="#">logout</a></li>
    </ul>

</div>


    
<div class="copyright">
    Copyright &copy; 2020-2025 STURF
    All rights reserved.
    STURF is among the federally registered trademarks of
    STURF LLC and may not be used by third parties without explicit permission.


</div>





    
</footer>


</html>




	

