{% from '_formhelpers.html' import render_field %}

<!DOCTYPE html>
<html lang = "en">
<head>
<title>{{title}}</title>

	<link href="{{url_for('post.static', filename='post-event.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

	<script type="text/javascript">

    function back(){
    	history.back();
    }
	
	</script>



</head> 





<body> 



<div id = "header">

<label for="check">
	<button  id="back"  onclick="back()";>&#10094;</button>
	
</label>


		
STURF

<div id="headtext">
	Improving your wellbeing <span class="dots">...</span>
</div>


</div>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        <ul class=flashes>

        {% for category, message in messages %}
            <center>

            <li class="{{ category }}">
                {{ message }}
            </li>

            </center>
        {% endfor %}

        </ul>
        
    {% endif %}
{% endwith %}












<div class = "topicsentence">
		<center class = "pennyless">  
				{{title}}
				<br>
				<br>	
		</center>
</div>









<center>
        <div class="container">

                        <form method="POST" enctype="multipart/form-data">
                            <dl>
                                {{form.csrf_token}}



                                {% if post_type == 'event_update' %}

                       			<!-- do nothing -->

                       			{% else %}

                                <label class="choose_file">
                                    {{ render_field(form.photo) }}


                                   
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M6 8V2h4v6h6v4h-6v6H6v-6H0V8h6zm6 12v-6h6V8h14l3.66 4H42c2.2 0 4 1.8 4 4v24c0 2.2-1.8 4-4 4H10c-2.2 0-4-1.8-4-4V20h6zm14 18c5.52 0 10-4.48 10-10s-4.48-10-10-10-10 4.48-10 10 4.48 10 10 10zm-6.4-10c0 3.54 2.86 6.4 6.4 6.4s6.4-2.86 6.4-6.4-2.86-6.4-6.4-6.4-6.4 2.86-6.4 6.4z"/></svg> 



                                </label>

                                {% endif %}
                            
                                





                               

                                {{ render_field(form.title) }}


                                {{ render_field(form.content, cols="35", rows="7") }}

                                {{ render_field(form.venue) }}

                                <!-- <div  class="p2"> -->


                                <div class = "select_fields">

                                <label style = "font-size: 17px;" >Date of event </label>

                                <br>
                                <br>
                                <br>

                                {{ render_field(form.day) }}


                                {{ render_field(form.month) }}


                                {{ render_field(form.year) }}

                                </div>






                                <!-- <p class="info">
	                            	
	                            	Insert date in format: <span style="color: black; font-size: 14px; font-family: 'Comic Sans MS', cursive, sans-serif;"> year - month - day</span>

	                            	<br>
	                            	example:
	                            	<br>

	                            	 <span style="color: black; font-size: 14px; font-family: 'Comic Sans MS', cursive, sans-serif;">2020 - 5 - 6</span>
	                            </p>
                                
 -->
                               <!--  </div > -->

                                

                                




                                
                            </dl>




                            	



                            <p><input type=submit value= "{{info}} Event"  class="loginbutton"></p>
                           
                        </form>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- link update form --> 




{% if post_type == 'event_update' %}
 <form method="POST" >
                            
    {{linkForm.csrf_token}}

    {{ render_field(linkForm.url) }}

    <input type=submit value= "update"  class="loginbutton">

</form>


                       			
{% else %}


<!-- do nothing -->

{% endif %}
                       


                        
                       
        </div>           
</center>













</html>