{% from '_formhelpers.html' import render_field %}

<!DOCTYPE html>
<html lang = "en">
<head>
	<title>{{page_title}}</title>

	<link href="{{url_for('post.static', filename='post.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

	<script type="text/javascript">

    function back(){
    	history.back();
    }
	
	</script>



</head> 





<body> 



<div id = "header">

<label for="check">
	<buttom  id="back" type="button" onclick="back()";>&#10094;</button>
	
</label>


		
STURF

<div id="headtext">
	Improving your wellbeing <span class="dots">...</span>
</div>


</div>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        <ul class=flashes>

        {% for category, message in messages %}

            <li class="{{ category }}">
                {{ message }}
            </li>

        {% endfor %}

        </ul>
        
    {% endif %}
{% endwith %}












<div class = "topicsentence">
		<center class = "pennyless">  
				create new post
				<br>
				<br>	
		</center>
</div>










<center>
        <div class="container">

                        <form method="POST" enctype="multipart/form-data">
                            <dl>
                                {{form.csrf_token}}
                            
                                {{ form.hidden_tag() }}



                                <label class="choose_file">
                                    {{ render_field(form.photo) }}


                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M6 8V2h4v6h6v4h-6v6H6v-6H0V8h6zm6 12v-6h6V8h14l3.66 4H42c2.2 0 4 1.8 4 4v24c0 2.2-1.8 4-4 4H10c-2.2 0-4-1.8-4-4V20h6zm14 18c5.52 0 10-4.48 10-10s-4.48-10-10-10-10 4.48-10 10 4.48 10 10 10zm-6.4-10c0 3.54 2.86 6.4 6.4 6.4s6.4-2.86 6.4-6.4-2.86-6.4-6.4-6.4-6.4 2.86-6.4 6.4z"/></svg> 

                                    
                                </label>





                                {{ render_field(form.title) }}

                                {{render_field(form.content, cols="7", rows="7") }}




                                
                            </dl>



                            <p><input type=submit value= "create Post"  class="loginbutton"></p>
                           
                        </form>


                        
                       
        </div>           
</center>











<!-- 
<div class = "topicsentence">
        <center class = "add_picture">  
                Add Picture
                <br>                 
        </center>
</div>

 -->

<!-- UPLOAD PROFILE PHOTO FORM -->
<!-- <center>
    <div class="upload_container">
        <form class="upload-form" method=post enctype=multipart/form-data>

            <label class="choose_file">
                <input  type=file name=file>
                CHOOSE FILE &#10011;
            </label>
            <br>
            <br>
            <br>

            <p><input type=submit value= Post  class="loginbutton"></p>
        
        </form>


    </div>
</center>



<br>
 -->






   



<!-- <div class = "topicsentence">
		<center class = "pennyless">  
				UPLOAD PROFILE PICTURE
				<br>
				<br>	
		</center>
</div> -->




<!-- UPLOAD PROFILE PHOTO FORM -->
<!-- <center>
	<div class="container">
		<form class="upload-form" method=post enctype=multipart/form-data>

			<label class="choose_file">
				<input  type=file name=file>
				CHOOSE FILE &#10011;
			</label>
		

			<input class="all_done" type=submit value= 'Upload &#10148;'>

		</form>
	</div>
</center>
 -->











</html>