<!DOCTYPE html>
<html lang = "en">
<head>


	<title>Paginated History</title>


	<link href="{{url_for('history.static', filename='history.css' )}}" rel="stylesheet" type="text/css" />


	<meta name="viewport" content = "width = device-width, initial-scale = 1" >

	<script type="text/javascript">

    function back(){
    	history.back();
    }
    
	</script>



</head> 





<body> 








<!-- header section -->

<div id = "header">

	<label for="check">
		<button  id="btn" type="button" onclick="back()";>&#10094;</button>
	</label>


		
	STURF

	<div class="headtext">
		Improving your wellbeing <span class="dots">...</span>
	</div>


</div>



<!-- end of header section -->













<div id = "advertisement">
		<center> AD</header>
</div>






<div id="table">


<h2>Welcome to the History Section</h2>



<!-- ------------------------------------------------------------------ -->
<center>



<main class = "label">
	<div class = "light" /></div>
</main>




</center>

<!-- ------------------------------------------------------------------ -->

<p>Everytime electricity comes on or off, it is recorded here along with the date,time and location where it occured</p>











<table >
  <tr style = "font-family: sans-serif; font-weight: bold; color: green;">
    <th>Location</th>
    <th>Status</th>
    <th>Time</th>
  </tr>

  {% for row in rows.items %}
  <tr style = "font-size: 16px; font-family: sans-serif; font-weight: bold;">
    <td>{{row["location"]}}</td>


<!--     if the value for period in the database is 'on' it will 
    show 'cameon' otherwise it will show 'wentoff' -->
    
    {% if row["state"] == "on" %}
    <td>came on</td>
    {% else %}
    <td>went off</td>
    {% endif %}

    <td>{{row["period"].strftime("%I:%M%p  %A, %B %d")}}</td>
  </tr>
  {% endfor %}
</table>


</div>






<center>
    <div class="pagination"> 
    {% for page_num in rows.iter_pages(left_edge=1, right_edge = 1, left_current = 1, right_current = 2) %}


        {%if page_num %}

            {%if rows.page == page_num%}
            <a  class="pagination_highlight" href="{{url_for('history.history_paginated', page = page_num)}}">{{page_num}}</a>

            {% else %}

             <a  class="pagination_normal" href="{{url_for('history.history_paginated', page = page_num)}}">{{page_num}}</a>
            {% endif %}

        {% else %}

        ...


        {% endif %}



    {% endfor %}
    </div>
</center>










<p class="p1">For more details about how to understand this page please refer to <a href="#"><span class="linkr2">FAQS</span></a></p>





</body>










<!-- ..............................footer............................ -->

<footer id = 'footer'>



<div class="footerians">
	<header><span style="margin-right: 5px; color: #ffffff; font-size: 25px;">☎</span>Get in touch with us</header>

	<ul>

	<li><a href="#"><div class="case1"></div></a></li>
	<li><a href="#"><div class="case2"></div></a></li>
	<li><a href="#"><div class="case3"></div></a></li>
	<li><a href="#"><div class="case4"></div></a></li>

	</ul>
	

</div>



<div class="t_and_t">
	<ul>
	<li><a href="#">Terms and conditions</a></li>
	<li><a href="#">what more can we do?</a></li>
	<li><a href="#">Ad policy</a></li>
	<li><a href="#">Content policy</a></li>
	</ul>
</div>


	

<div id="links">
	<ul>
	<li><a href="#">Home</a></li>
	<li><a href="file:///C:/Users/SIMON/Documents/site%20work/site/Electricity.html">Electricity</a></li>
	<li><a href="#">History</a></li>
	<li><a href="#">About Us</a></li>
	<li><a href="#">FAQS</a></li>
	<li><a href="{{url_for('security.logout')}}">logout</a></li>
	</ul>

</div>


	
<div class="copyright">
	Copyright &copy; 2020-2025 STURF
	All rights reserved.
	STURF is among the federally registered trademarks of
    STURF LLC and may not be used by third parties without explicit permission.


</div>





	
</footer>





<html>