
            <center>
                <div class="pagination"> 
                {% for page_num in posts.iter_pages(left_edge=1, right_edge = 1, left_current = 1, right_current = 2) %}


                    {%if page_num %}


                        

                                {%if posts.page == page_num%}

                                        {%if post_value == 'followed'%}

                                                <a  class="pagination_highlight" href="{{url_for('post.post', page = page_num, post_type = 'followed')}}">{{page_num}}</a>
                                        {% else %}
                                                <a  class="pagination_highlight" href="{{url_for('post.post', page = page_num, post_type = 'normal')}}">{{page_num}}</a>
                                        {% endif %}

                                {% else %}



                                        {%if post_value == 'followed'%}

                                                <a  class="pagination_normal" href="{{url_for('post.post', page = page_num, post_type = 'followed')}}">{{page_num}}</a>

                                        {% else %}
                                                <a  class="pagination_normal" href="{{url_for('post.post', page = page_num, post_type = 'normal')}}">{{page_num}}</a>
                                        {% endif %}

                                 


                                {% endif %}

                        



                    {% else %}

                    ...


                    {% endif %}



                {% endfor %}
                </div>
            </center>
