#header{
	font-family: "Comic Sans MS", "chalkboard", sans-serif;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	letter-spacing: 6px;
	color: #ffffff;
	font-weight:bold;
	text-align:center;
	text-shadow: 8px 7px 3px rgba(43,60,44,0.71);
	position:relative;
	box-shadow: 8px -3px 29px 0px #000000;
	min-height: 50px;
	height: 50px;
	border-radius: 0px;
	font-size: 25px;
}




#header{
	min-height: 50px;
	height: 50px;
	border-radius: 0px;
	font-size: 25px;
}


#headtext{
	display: none;
}


label #back{
	left:10px;
	top: -16px;
	font-size: 40px;
}


#headtext{ 
font-size: 15px;
text-shadow: 5px 4px 3px rgba(0,0,0,0.26);
margin-top: 75px;
}


#header{
	min-height: 50px;
	height: 50px;
	border-radius: 0px;
	font-size: 25px;
}


#headtext{
	display: none;
}


label #back{
	left:10px;
	top: -16px;
	font-size: 40px;
}










*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}



.dots{
	font-size: 30px;	
}

.header_link{
	color: white;
}













/*-------------------RIGHT-SIDEBAR CSS-------------------*/
.sidebar{
	z-index: 2; 
	position: fixed;
	top: 3px;
	right: -250px;
	width: 250px;
	height: 100%;
	background: #ffffff;
	max-height: 800px;
	transition: all .4s ease;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align: center; 
	border-radius: 22px 0px 0px 22px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.26);
	box-shadow: 4px 5px 8px 5px rgba(0,0,0,0.12);

}


.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 30px;
	font-size: 22px;
	color: #79ff4d;
	padding-left: 5px;
	box-sizing: border-box;
	transition: .3s;
	margin-top: 40px;

}

.sidebar ul li:hover a{
	padding-right: 30px;
}



/*this is to fix the issue with message flashes*/
.sidebar li {
	list-style: none;
    border: none;
    border-radius: none;
    color: none;
    background: none;
    margin-top: 0px;
    padding: 0px;
}
/*end of fix*/



.sidebar i{
	margin-right: 5px;
	text-shadow: none;
	color: black;
}

#check{
	display: none;
}

label #btn, label #cancel{
	cursor: pointer;
	background: transparent;
}

label #btn{
	position: fixed;
	z-index: 2;
	right: -5px;
	top: -15px;
	font-size: 40px;
	color: #ffffff;
	border-radius: 50%;
	padding:6px 12px;
	transition: all .5s;
	font-style: normal;
	background: #79ff4d;

}

label #cancel{
	position: fixed;
	z-index: 3;
	right: -180px;
	top: 1px;
	font-size: 25px;
	color: #79ff4d;
	padding: 4px 9px;
	transition: all .5s ease;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.26);
}





#check:checked ~ .sidebar{
	right: 0;
}


#check:checked ~ label #btn{
	right: -250px;
	opacity: 0;
	pointer-events: none;

}

#check:checked ~ label #cancel{
	right: 5px;
}

/*-------------------END OF RIGHT-SIDEBAR -------------------*/










/*back button*/
#check{
	display: none;
}



label #back{
	position: absolute;
	left:10px;
	top: 5px;
	font-size: 40px;
	color: #ffffff;
	background: none;
	border: none;
	outline: none;
	padding:6px 12px;
	text-shadow: 7px 8.5px 3px rgba(43,60,44,0.71);



	
}
/*end of back button*/













/*this fix snippet will reduce the header size*/


#headtext{
	display: none;
}


label #back{
	left:10px;
	top: -12px;
	font-size: 35px;
}


label #btn{
	right: -2px;
	font-size: 35px;
}



/*end of fix*/
















































.span{
font-size: 30px;
color:#000000;
font-family: Impact, Charcoal, sans-serif;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: 500;
font-style: normal;
font-variant: normal;
}







.topicsentence{
margin-top: 20px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #79ff4d;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: center;
}







#buttonscontainer{
	margin: 0 auto;
	margin-top: 20px;
}


#buttonscontainer2{
	margin: 0 auto;
	margin-top: 50px;
}




#advertisement{
	position: relative;
	border-radius: 15px;
	text-align:center;
	background-color: #79ff4d;
	height:200px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: 5px 4px 17px 3px #848484;
}






.loginbutton{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	color: #79ff4d;
	font-size: 17px; 
	line-height: 17px; 
	padding: 15px;
	border-radius: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bolder;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal; font-variant: normal;
	text-transform: none;
	box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
	border: 3px solid #79ff4d;
	display: inline-block;
	background: #FFFFFF;
	background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%, #FFFFFF 100%);
}







.loginbutton:hover {
background: #4D6F5A; 
}

.loginbutton:active {
background: #4D6F5A;
}







.login{
margin-bottom: 40px;
max-width: 200px;
}






/*section1 of the homepage*/

/*use it when you want to align image to the left and text to the right*/

.section1{
	margin-top: 50px;
	background: #79ff4d;
	max-width: 100%;
	font-size: 35px;
	max-height: 100%;
	text-align: right;
	margin-bottom: 70px;
	border-radius: 0px 20px 0px 00px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
}



.text_container{
	float: right;
	max-height: 250px;
	position: relative;
	max-width: 60%;
	padding-right: 10px;
}



.label1{
	max-width: 250px;
	position: relative;	
	min-height: 250px;
	min-width:  250px;
}



.light{
	background: url('lightbulbonpalm.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}






.section1:hover{
-moz-transform: scale(1.1) translate(-12px, -4px);
-webkit-transform: scale(1.1) translate(-12px, -4px);
-o-transform: scale(1.1) translate(-12px, -4px);
-ms-transform: scale(1.1) translate(-12px, -4px);
transform: scale(1.1) translate(-12px, -4px);
transition: all .7s;
background: #ffffff;
}

/* end of section 1 */



















/*section 2 of entire homepage*/

/*use it when you want to align image to the right and text to the left*/


.section2{
	margin-top: 50px;
	background: #79ff4d;
	max-width: 100%;
	font-size: 35px;
	max-height: 100%;
	text-align: left;
	margin-bottom: 70px;
	border-radius: 0px 00px 0px 20px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
}

.text_container2{
	float: left;
	max-height: 250px;
	position: relative;
	max-width: 60%;
	padding-left: 10px;
}


.label2{
	max-width: 250px;
	position: relative;
	margin-left: 70%;
	min-height: 250px;
	min-width:  250px;
}


.light2{
	background: url('guystudent.jpg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}





.section2:hover{
-moz-transform: scale(1.1) translate(12px, -4px);
-webkit-transform: scale(1.1) translate(12px, -4px);
-o-transform: scale(1.1) translate(12px, -4px);
-ms-transform: scale(1.1) translate(12px, -4px);
transform: scale(1.1) translate(12px, -4px);
transition: all .7s;
background: #ffffff;
}

/* end of section 2 */









/*section3 of the homepage*/

/*use it when you want to align image to the left and text to the right*/

.section3{
	margin-top: 50px;
	background:#79ff4d;
	max-width: 100%;
	font-size: 35px;
	max-height: 100%;
	text-align: right;
	margin-bottom: 70px;
	border-radius: 0px 20px 0px 00px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
}



.text_container3{
	float: right;
	max-height: 250px;
	position: relative;
	max-width: 60%;
	padding-right: 10px;
}



.label3{
	max-width: 250px;
	position: relative;
	min-height: 250px;
	min-width:  250px;	
}



.light3{
	background: url('sense.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}


.section3:hover{
-moz-transform: scale(1.1) translate(-12px, -4px);
-webkit-transform: scale(1.1) translate(-12px, -4px);
-o-transform: scale(1.1) translate(-12px, -4px);
-ms-transform: scale(1.1) translate(-12px, -4px);
transform: scale(1.1) translate(-12px, -4px);
transition: all .7s;
background: #ffffff;
}


/* end of section 3 */


















/*section 4 of entire homepage*/

/*use it when you want to align image to the right and text to the left*/


.section4{
	margin-top: 50px;
	background: #79ff4d;
	max-width: 100%;
	font-size: 35px;
	max-height: 100%;
	text-align: left;
	margin-bottom: 70px;
	border-radius: 0px 00px 0px 20px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);

}


.text_container4{
	float: left;
	max-height: 250px;
	position: relative;
	max-width: 60%;
	padding-left: 10px;
}


.label4{
	max-width: 250px;
	position: relative;
	margin-left:70%;
	min-height: 250px;
	min-width:  250px;
}


.light4{
	background: url('funeral.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}






.section4:hover {
-moz-transform: scale(1.1) translate(12px, -4px);
-webkit-transform: scale(1.1) translate(12px, -4px);
-o-transform: scale(1.1) translate(12px, -4px);
-ms-transform: scale(1.1) translate(12px, -4px);
transform: scale(1.1) translate(12px, -4px);
transition: all .7s;
background: #ffffff;
}


/* end of section 4 */




/*
social media share section*/



.penny{
  margin-top: 120px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 200;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 2px 0px 3px rgba(28,110,164,0.48);
  color: #79ff4d;
  text-align: center;
}

.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;

}

.pen{
	min-height: 80px;
	text-align: center;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.51); 
	box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.51);
    border:2px solid #79ff4d;
}



.bgimage1,.bgimage2,.bgimage3,.bgimage4{
	vertical-align: center;
	background: 
	background-size: contain;
	width: 100%;
	height:100%;
	border-radius: 50%;
}

.bgimage1{
	background: url('whatssapp1.png') no-repeat center;
}


.bgimage2{
	background: url('facebook1.png') no-repeat center;
}

.bgimage3{
	background: url('instagram1.png') no-repeat center;
}

.bgimage4{
	background: url('twitter1.png') no-repeat center;
}

.pen:hover{
	-webkit-box-shadow: 5px 5px 37px 0px #79FF4D; 
box-shadow: 5px 5px 37px 0px #79FF4D;
	transition: all .3s;
	-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
border: none;
}

/*end of social media share section*/

























/*
feedback section*/

.feedback_container{
	margin-top: 0 auto;
	border-radius: 3px solid red;
}

.penny{
  margin-bottom: 50px;
  float: left;
  margin-top: 120px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 200;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 2px 0px 3px rgba(28,110,164,0.48);
  color: #79ff4d;
}








.submitbutton{
	display: grid;
	float: right;
	width: 100px;
	color: #ffffff;
	font-size: 15px; 
	line-height: 17px; 
	padding: 7px;
	border-radius: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	text-decoration: none solid rgb(68, 68, 68);
	box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.51);
	border: 3px solid #79ff4d;
	background: #79ff4d;
	outline: none;
	margin-bottom: 100px;
/*	margin-top: 200px;*/
}



/*end of feedback section*/



















.uplink{
	outline: none;
	position: sticky;
	float: right;
	border-radius: 150px 15px 150px 150px ;
	padding: 5px;
	z-index: 3;
	color: black;
	font-weight: bolder;
	font-size: 30px;
	top: 80%;
	border: 1px solid #79ff4d;
	transition: all  .25s ease-out;
	background: white;
}


.uplink i{
font-style: normal;
position: relative;

}


.uplink:hover {
	background: #79ff4d;
	color: white;

}













.downlink{
	outline: none;
	position: sticky;
	float: right;
	border-radius: 15px 150px 150px 150px ;
	padding: 5px;
	z-index: 3;
	color: black;
	font-weight: bolder;
	font-size: 30px;
	top: 80%;
	border: 1px solid #79ff4d;
	transition: all  .25s ease-out;
	margin-right: 3px;
	background: white;
}


.downlink i{
font-style: normal;
position: relative;

}


.downlink:hover {
	background: #79ff4d;
	color: white;

}













.bottomsentence{
margin-top: 120px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #79ff4d;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-align: center;

}





/*footer section*/

#footer{
	min-height:300px;
	font-family: cursive, sans-serif;
	background: #FFFFFF;
	background: linear-gradient(45deg, #FFFFFF 0%, #A0CBA5 0%, #79FF4D 100%);
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	color: #000000;
	position:relative;
	border-radius: 15px 0px 15px 0px;
	box-shadow: 8px -3px 29px 0px #000000;
	margin-top: 200px;
	justify-content: space-between;
}



.footerians{
	display: inline-grid;
	position: relative;
	width: 60px;
	height: 250px;
	background: #79ff4d;
	max-height: 200px;
	min-height: 200px;
	transition: all .4s ease;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align:left; 
	border-radius: 0px 0px 22px 0px;
}



.footerians header{
	width: 250px;
	height: 70px;
	font-size: 17px;
	color: #000000;
	text-align: left;
	line-height: 70px;
	background: none;
	user-select: none;
	transition: all .6s ease;
	border-radius: 0px 50px 50px 0px;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.footerians ul a{
	margin-top: 10px;
	display: block;
	height: 100%;
	width: 10px;
	line-height: 50px;
	font-size: 24px;
	color: #79ff4d;
	padding-left: 20px;
	box-sizing: border-box;
	transition: .3s;
}

.footerians ul li:hover a{
	padding-left: 70px;
}

.footerians ul a {
	margin-right: 0px;
}
.footerians ul {
width: 20px;
}


.img{
	margin-right: 10px
}

.case1,.case2,.case3,.case4{
	border-radius: 50%;
	box-shadow: 6px 5px 7px 0px rgba(0,0,0,0.7);
	vertical-align: center;
	background-size: contain;
	max-height: 25px;
	min-height: 25px;
	max-width: 25px;
	min-width: 25px;
	width: 25px;
	height: 25px;
	padding-top: 1%;
	border-radius: 50%;
	border: 3px solid #FFFFFF;

}

.case1{
	background: url('facebook.png') no-repeat center;
}

.case2{
	background: url('twitter.png') no-repeat center;
}

.case3{
	background: url('linkedin.png') no-repeat center;
}

.case4{
	background: url('instagram.png') no-repeat center;
}



.linkr{
color: #ffffff;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}


.linkr2{
color: #000000;
font-weight: bold;
text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}



#links {
	position: relative;
	display: inline-flex;
	margin-left: 30%;
}

#links ul a{
	margin-top: 0px;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 25px;
	font-size: 14px;
	color: #ffffff;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
}

.copyright{
	position: relative;
	display: inline-table;
	max-width: 500px;
	float: right;
	font-size: 10px; 
	margin-top:20px; 
}

.t_and_t{
	position: relative;
	display: inline-flex;
	margin-left: 20%;
	font-size: 14px;
	transition: .3s;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.7);
	line-height: 40px;
	margin-bottom: 25px;
}

.t_and_t ul a{
color: #ffffff;
	
}

/*end of footer section*/






































.topicsentence,
.section1,
.section2,
.section3,
.section4,
#advertisement,
.textarea,
.penny,
#feedback_container,
.bottomsentence,
.penny-container{
	margin-left: 10%;
	margin-right: 10%;
}











@media screen and (max-width: 1280px){
.label4{
	margin-left:70%;
}

.label2{
	margin-left:70%;
}


.section4{
	font-size:20px;

}

.section3{
	font-size:20px;

}

.section2{
	font-size:20px;

}

.section1{
	font-size:20px;

}

	
}




@media screen and (max-width: 1440px){
.label4{
	margin-left:78%;
}

.label2{
	margin-left:78%;
}


.section4{
	font-size:20px;

}

.section3{
	font-size:20px;

}

.section2{
	font-size:20px;

}

.section1{
	font-size:20px;

}


}





@media screen and (max-width: 1024px){
.label4{
	margin-left:69.5%;
}

.label2{
	margin-left:69.5%;
}


.section4{
	font-size:21px;

}

.section3{
	font-size:21px;

}

.section2{
	font-size:21px;

}

.section1{
	font-size:21px;

}



}















@media screen and (max-width: 800px){
.label4{
	margin-left:62%;
}

.label2{
	margin-left:62%;
}


.section4{
	font-size:18px;
}

.section3{
	font-size:18px;

}

.section2{
	font-size:18px;

}

.section1{
	font-size:18px;

}

}























@media screen and (max-width: 768px){
.label4{
	margin-left:61.8%;
}

.label2{
	margin-left:61.8%;
}


.section4{
	font-size:18px;
}

.section3{
	font-size:18px;
}

.section2{
	font-size:18px;
}

.section1{
	font-size:18px;

}


}


















@media screen and (max-width: 600px){
.section1,.section3{
	text-align: center;
	margin-top: 50px;
	background: #79ff4d;
	max-width: 250px;
	max-height: 500px;
	text-align: right;
	margin-bottom: 70px;
	border-radius: 0px 20px 0px 00px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
	min-height: 500px;
}

.section2,.section4{
	text-align: center;
	margin-top: 50px;
	background: #79ff4d;
	max-width: 250px;
	max-height: 500px;
	text-align: right;
	margin-bottom: 70px;
	border-radius: 0px 20px 0px 00px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
	min-height: 500px;

}


.text_container,.text_container3{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	max-height: 250px;
	position: relative;
	max-width: 200px;
	padding-top: 232px;
}

.text_container2,.text_container4{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	max-height: 250px;
	position: relative;
	max-width: 200px;
	padding-top: 232px;


}


.label1,.label3{
	max-width: 250px;
	position: relative;	
	min-height: 250px;
	min-width:  250px;
	margin-bottom: 100px;

}

.label2,.label4{
	margin-left:-0%;
	margin-bottom: 100px;
	max-width: 250px;
	position: relative;
	min-height: 250px;
	min-width:  250px;
}

.text_container2,.text_container3,.text_container{
	font-size: 15px;
}

.text_container4{
	font-size: 15px;
}

.light{
	background: url('lightbulbonpalm.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light2{
	background: url('guystudent.jpg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light3{
	background: url('sense.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light4{
	background: url('funeral.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}




}

























@media screen and (max-width: 320px){

.section1,.section3{
	text-align: center;
	margin-top: 50px;
	background: #79ff4d;
	max-width: 250px;
	font-size: 15px;
	max-height: 600px;
	text-align: right;
	margin-bottom: 70px;
	border-radius: 0px 20px 0px 00px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
	min-height: 500px;
}

.section2,.section4{
	text-align: center;
	margin-top: 50px;
	background: #79ff4d;
	max-width: 250px;
	font-size: 15px;
	max-height: 600px;
	text-align: right;
	margin-bottom: 70px;
	border-radius: 0px 20px 0px 00px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
	min-height: 500px;

}

.text_container,.text_container3{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	max-height: 250px;
	position: relative;
	max-width: 200px;
	padding-top: 232px;
}

.text_container2,.text_container4{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	max-height: 250px;
	position: relative;
	max-width: 200px;
	padding-top: 232px;


}


.label1,.label3{
	max-width: 250px;
	position: relative;	
	min-height: 250px;
	min-width:  250px;
	margin-bottom: 100px;

}

.label2,.label4{
	margin-left:-0%;
	margin-bottom: 100px;
	max-width: 250px;
	position: relative;
	min-height: 250px;
	min-width:  250px;
}

.light{
	background: url('lightbulbonpalm.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light2{
	background: url('guystudent.jpg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light3{
	background: url('sense.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light4{
	background: url('funeral.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}



}






@media screen and (max-width: 240px){
.section1,.section3{
	text-align: center;
	margin-top: 50px;
	background: #79ff4d;
	max-width: 250px;
	font-size: 15px;
	max-height: 500px;
	text-align: right;
	margin-bottom: 70px;
	border-radius: 0px 20px 0px 00px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
	min-height: 500px;
}

.section2,.section4{
	text-align: center;
	margin-top: 50px;
	background: #79ff4d;
	max-width: 250px;
	font-size: 15px;
	max-height: 500px;
	text-align: right;
	margin-bottom: 70px;
	border-radius: 0px 20px 0px 00px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.47);
	min-height: 500px;

}

.text_container,.text_container3{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	max-height: 250px;
	position: relative;
	max-width: 200px;
	padding-top: 232px;
}

.text_container2,.text_container4{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	max-height: 250px;
	position: relative;
	max-width: 200px;
	padding-top: 232px;


}


.label1,.label3{
	max-width: 250px;
	position: relative;	
	min-height: 250px;
	min-width:  250px;
	margin-bottom: 100px;

}

.label2,.label4{
	margin-left:-0%;
	margin-bottom: 100px;
	max-width: 250px;
	position: relative;
	min-height: 250px;
	min-width:  250px;
}

.text_container4{
	font-size: 15px;
}


.light{
	background: url('lightbulbonpalm.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light2{
	background: url('guystudent.jpg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light3{
	background: url('sense.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}

.light4{
	background: url('funeral.jpeg') no-repeat center;
	background-size: contain;
	width: 100%;
	height:100%;
	padding-top: 100%;
}


}

























/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL HEADERS ONLY------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


/*------------------------------------------------------
--------------------MEDIA SCREEN 600--------------------
--------------------------------------------------------*/


/*---------------HEADER-------------*/
@media screen and (max-width: 600px){
#header{
	min-height: 50px;
	height: 50px;
	border-radius: 0px;
	font-size: 25px;
}

#headtext{
	display: none;
}
}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600-------------
--------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL HEADERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/









/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL FOOTERS ONLY------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/




/*-------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 800--------------
--------------------------------------------------------*/


@media screen and (max-width: 800px){
.footerians header{
	font-size: 12px;
	color: #000000;
}

#links {
	margin-left: 20%;
}


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 800-------------
--------------------------------------------------------*/


/*-------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 600--------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 600px){

.footerians header{
	font-size: 12px;
}

.copyright{
	max-width: 250px;
}

#footer{
	min-height: 500px;
}

#links {
	margin-left: 60%;
}

.t_and_t{
	margin-left: 40%;
}

}

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600--------------------
--------------------------------------------------------*/



/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 346--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 346px){
.t_and_t{
	margin-left: 22%;
}

.footerians header{
	font-size: 10px;
}
}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 346---------------
--------------------------------------------------------*/




/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 320--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 320px){
.footerians header{
	font-size: 10px;
}

.copyright{
	max-width: 150px;
}

#footer{
	min-height: 600px;
}


.t_and_t{
	margin-left: 23%;
}

}
/*----------------------------------*/

/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 320--------------
--------------------------------------------------------*/



/*------------------------------------------------------
--------------------MEDIA SCREEN FOOTER 240--------------------
--------------------------------------------------------*/

/*--------------FOOTER-------------*/
@media screen and (max-width: 240px){
.t_and_t{
	margin-left: 30%;
}
}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 240--------------
--------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL FOOTERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/










/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------------ALL OTHERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


/*------------------------------------------------------
--------------------MEDIA SCREEN BACK BUTTON 600--------
--------------------------------------------------------*/


/*---------------BACK BUTTON-------------*/
@media screen and (max-width: 600px){
label #btn{
	left:10px;
	top: -16px;
	font-size: 40px;
}

.headtext{
	display: none;
}

}
/*----------------------------------*/


/*------------------------------------------------------
--------------------END OF MEDIA SCREEN 600-------------
--------------------------------------------------------*/




/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------END OF ALL OTHERS------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/



























/*
social media icons breakpont code*/


@media screen and (max-width: 568px){


.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 60px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}


}



@media screen and (max-width: 478px){


.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 55px;
    width: 55px;
    height: 55px;
    margin-right: 10px;
}
}



@media screen and (max-width: 432px){
.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
}




@media screen and (max-width: 384px){
.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.pen{
	min-height: 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
}



@media screen and (max-width: 360px){
.penny-container{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.pen{
	min-height: 36px;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
}

/*end of social media icon breakpoint code*/
















/*stopping the hover feature*/
@media screen and (max-width: 600px){
.section1:hover {
-moz-transform: none;
-webkit-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
transition: none;
background: #ffffff;
}
}

@media screen and (max-width: 600px){
.section2:hover {
-moz-transform: none;
-webkit-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
transition: none;
background: #ffffff;
}
}

@media screen and (max-width: 600px){
.section3:hover {
-moz-transform: none;
-webkit-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
transition: none;
background: #ffffff;
}
}

@media screen and (max-width: 600px){
.section4:hover {
-moz-transform: none;
-webkit-transform: none;
-o-transform: none;
-ms-transform: none;
transform: none;
transition: none;
background: #ffffff;
}
}

/*---------------end of hover features--------------------------*/



@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}

@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
}