{% from '_formhelpers.html' import render_field %}

<!DOCTYPE html>
<html lang = "en">
<head>
	<title>{{page_title}}</title>

	<link href="{{url_for('post.static', filename='post-announcement-update.css' )}}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content = "width = device-width, initial-scale = 1" charset="utf-8" >

	<script type="text/javascript">

    function back(){
    	history.back();
    }
	
	</script>



</head> 





<body> 



<div id = "header">

<label for="check">
	<buttom  id="btn" type="button" onclick="back()";>&#10095;</button>
	
</label>


		
STURF

<div class="headtext">
	Improving your wellbeing <span class="dots">...</span>
</div>


</div>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        <ul class=flashes>

        {% for category, message in messages %}
            <center>

            <li class="{{ category }}">
                {{ message }}
            </li>

            </center>
        {% endfor %}

        </ul>
        
    {% endif %}
{% endwith %}
















<div class = "topicsentence">
		<center class = "pennyless">  
				{{title}}
				<br>
				<br>	
		</center>
</div>










<center>
        <div class="container">


<!-- title update form --> 
                        <form method="POST" >
                            
                                {{titleForm.csrf_token}}

                                {{ render_field(titleForm.title) }}

                                <input type=submit value= "update"  class="loginbutton">

                               
                            

                            
                           
                        </form>






<!-- content update form --> 
                        <form method="POST" >
                            
                                {{contentForm.csrf_token}}

                                {{ render_field(contentForm.content, cols="35", rows="7") }}

                                <input type=submit value= "update"  class="loginbutton">
                            

                            
                           
                        </form>








<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- title update form --> 
                        <form method="POST" >
                            
                                {{linkForm.csrf_token}}

                                {{ render_field(linkForm.url) }}

                                <input type=submit value= "update"  class="loginbutton">

                        </form>

                        
                       
        </div>           
</center>




</body>









<footer id = 'footer'>



<div class="footerians">
	<header><span style="margin-right: 5px; color: #ffffff; font-size: 25px;">☎</span>Get in touch with us</header>

	<ul>

	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}"><div class="case1"></div></a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}"><div class="case2"></div></a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}"><div class="case3"></div></a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}"><div class="case4"></div></a></li>

	</ul>
	

</div>



<div class="t_and_t">
	<ul>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}">Terms and conditions</a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}">what more can we do?</a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}">Ad policy</a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}">Content policy</a></li>
	</ul>
</div>


	

<div class="links">
	<ul>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}">Home</a></li>
	<li><a href="file:///C:/Users/SIMON/Documents/site%20work/site/Electricity.html">Electricity</a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}">History</a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}">About Us</a></li>
	<li><a href="{{url_for('home.set_avatar', email = current_user.email, img = 'default2.jpg')}}">FAQS</a></li>
	<li><a href="{{url_for('security.logout')}}">logout</a></li>
	</ul>

</div>


	
<div class="copyright">
	Copyright &copy; 2020-2025 STURF
	All rights reserved.
	STURF is among the federally registered trademarks of
    STURF LLC and may not be used by third parties without explicit permission.


</div>





	
</footer>





</html>